.container
  .wrapper
    .mainHeading
      h1 A Court of Frost and Starlight
    section
      // This is the intro paragraph
      .intro-para
        p
          b
            i A Court of Frost and Starlight 
          |  is the 4th book in an adult fantasy series of the 
          b  A Court of Thorns and Roses series by 
          | Sarah J. Maas.
        p
          | It is preceded by 
          a(href='/acowar')  A Court of Wings and Ruin
          |  and succeeded by 
          a(href='/acosf')  A Court of Silver Flames
        p
          | It is told in the perspectives of Feyre and Rhysand. The novella acts as a prequel to the upcoming spin-off novels.
        p
          | The novella also contains a teaser for the next novel, A Court of Silver Flames, which features Cassian and Nesta as the main characters.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/Acofas.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Author 
            br
            small   Sarah J. Maas
          li.list-group-item
            | Genre 
            br
            small Adult, Fantasy/Romance
          li.list-group-item
            | Release Date 
            br
            small May 1, 2018
          li.list-group-item
            | Series 
            br
            small A Court of Thorns and Roses Series
          li.list-group-item
            | Pages 
            br
            small 272
          li.list-group-item
            | Website 
            br
            small
              a(href='https://sarahjmaas.com/') World of Sarah J Maas
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#synopsis') Official Synopsis
          li
            a(href='#plot') Plot
      // this is the synopsis para
      #synopsis.synopsis
        h2 Official Synopsis 
        p
          | Months after the explosive events in A Court of Wings and Ruin, Feyre, Rhys, and their companions are still busy rebuilding the Night Court and the vastly changed world beyond. But Winter Solstice is finally near and with it a hard-earned reprieve. Yet even the festive atmosphere can&apos;t keep the shadows of the past from looming. As Feyre navigates her first Winter Solstice as High Lady, she finds that those dearest to her have more wounds than she anticipated &ndash; scars that will have a far-reaching impact on the future of their Court.
      // this is the plot para
      #plot.plot
        h2 Plot
        p
          | It is winter in the Night Court. Feyre wakes up one day to snow falling outside, and Rhysand is not there. She tries to send a message to him through their &ldquo;soul-bridge,&rdquo; but he is too far out of her range for the message to be received. But this is not an unusual thing since Rhys has been meeting with war allies discussing trade and other matters.
          | With winter comes the Winter Solstice, which brings up old memories for Feyre from a year ago, memories of being in the Spring Court with Tamlin and of Rhys saving her.
          | Rhys is dealing with a dispute between Cassian and Devlon about allowing the female Illyrians in the war-camps to train. Eventually the argument is settled with the females getting ninety minutes to train, while the males help out with the work that typically goes to the females. There is another problem in the camps, though. There are those who believe that their males were purposefully put in places where they would die in the battle against the King of Hybern. Cassian and Rhys must deal with this quickly.
        p
          | Back in Velaris, Feyre is walking through the Rainbow, both searching for gifts for her friends and family and looking at the damage wrought from the battle. While looking at a destroyed building, a Faerie named Ressina tells Feyre the family that lived in the house was able to escape. She tells Feyre that the people are thankful to her since they all remember her saving a great number of them during the war.
          | Feyre then runs into Mor, and together they find a gift for Amren and discuss what everyone else might want. Eventually Mor informs Feyre that they, along with Rhys, will be visiting the Hewn City as part of a tradition to meet with them around every Solstice.
          | The trio arrives at the Hewn City. Mor&rsquo;s father is there as well as Eris. Eris is discussing gaining more territory for the Autumn Court, which Feyre reminds him is off the table for everyone. Eris then brings up Tamlin since his is the court that borders the mortal lands and any court wishing to grow would have to ask him for permission. The trio is suspicious about whether Tamlin is going to want to gain more territory.
          | Rhys&rsquo;s spymaster Azriel tells him of the discontent spreading in the Illyrian war-camps. While there are many camps that have unsatisfied people, the amount of people who actually feel unsatisfied in each camp is small. But this is still a cause of worry for Rhys.
          | Rhys then travels to the Spring Court to find it completely abandoned other than Tamlin. When asked why he hasn&rsquo;t been properly guarding his borders, Tamlin says he has no army with which to defend it. Rhys offers to supply him with some men, but Tamlin refuses to have those &ldquo;brutes&rdquo; on his land. This angers Rhys, who then says Tamlin deserves everything that has come to him.
          | Instead of attacking Rhys, which Tamlin would have done before, Tamlin simply tells Rhys to leave. Once Rhys does leave, he meets with Feyre. He tells her what happened at the court and how he is disappointed in himself. Feyre says he is allowed to slip-up sometimes. Rhys then realizes that he hasn&rsquo;t gotten Feyre a birthday gift or Solstice gift, since they are on the same day, and goes out to get her something.
          | Cassian arrives at the town house to help Feyre put up the decorations, and eventually everyone else arrives. Feyre goes into the kitchen to help Elain prepare the bread for dinner. When Feyre asks Elain if Nesta will be coming tonight, Elain says Nesta doesn&rsquo;t want to come to anything ever.
          | Everyone sits down for dinner and is having a good time when Elain asks Amren about her new body. Amren wonders why Elain would be asking about this and says that Elain cannot return to being a human, no matter how much she may wish it. After an awkward pause, Azriel defends Elain. The general good mood resumes.
          | After dinner, Feyre and Rhys find Nesta at the seediest pub in Velaris. Feyre walks in and dismisses the young males who are playing a card game with Nesta. Feyre asks Nesta to spend the holiday with them. Nesta refuses. Feyre points out that their father would want them all together. This upsets Nesta, and she tells Feyre to leave. While Feyre is leaving, Nesta reminds her that her rent is due soon. Feyre says she will make sure it is delivered if Nesta comes to spend the Winter Solstice with them.
          | Feyre goes to Amren to talk about Nesta. As it turns out, Nesta and Amren are quite close. Feyre asks what is wrong with her sister, but Amren refuses to talk about it as that would betray Nesta&rsquo;s trust. Feyre just asks Amren to tell Nesta the next time she sees her that Feyre and Elain would both be very happy if Nesta came to celebrate with them.
          | The Winter Solstice arrives. Feyre wakes up to three birthday presents from Rhys: a sketchbook, a scarf, and a satchel for her arts supplies. The couple goes downstairs for breakfast, but before they can eat, Rhys is whisked away by Azriel and Cassian as a part of some Solstice tradition. Once they leave, Elain comes out from the kitchen, having prepared many treats for dinner that night. Right when Elain asks Feyre if she has heard from Nesta, someone knocks on the door. Elain opens it, expecting it to be Nesta. It&rsquo;s Lucien instead.
          | When Lucien comes in, it&rsquo;s awkward between him and Elain. She leaves to prepare him some tea, while Feyre asks Lucien to live with them. Lucien is adamant about not living with them, and Feyre asks why. Lucien then explains how he has been disowned twice now: once by his own family and once by Tamlin and the Spring Court. Since Tamlin&rsquo;s argument with Rhys, Tamlin has decided he will be spending the Solstice alone.
          | After giving Feyre and Elaine their gifts, Lucien leaves. Feyre goes to Elain to ask why she never wants to be near Lucien. Elain explains she doesn&rsquo;t want anyone right now. Feyre, respecting her decision, finds Mor. Mor brings Feyre to the cabin where the tradition that Cassian, Azriel, and Rhys take part in every year happens: a snowball fight.
          | Mor and Feyre go to see them fighting with snowballs.After an hour, the three friends enter the cabin, Azriel declaring himself the winner. This would be his one hundred and ninety-ninth victory. After the snowball fighting, the three go to the shed next to the house to make a sauna.An another of theirs traditions.
          | Once the returns to the town house after the snowball fight the festivities begin. First, there&rsquo;s a birthday cake for Feyre. Once she blows out the candles and they eat cake, they have dinner. After dinner, people start opening their gifts. Well into opening the gifts, there is a knock at the door. Everyone knows exactly who it is: Nesta.
          | Everyone is eventually able to settle after Nesta&rsquo;s entrance, and they exchange gifts. From gloves to paintings to jewels to medication for headaches, they are all satisfied with their gifts. It starts to get late, and Nesta gets up to leave. Before she can, Feyre offers her the check that had been promised. Feyre hopes that Nesta will tear it up, but Nesta takes the check and leaves instead. Cassian goes after her.
          | Cassian insists on walking Nesta home. They argue on the way until Nesta notices something in Cassian&rsquo;s hand. When she asks what it is, he says it is her Solstice gift. It&rsquo;s something he took months trying to find. Cassian wants Nesta to be closer with her sisters. Nesta finally snaps, telling Cassian to go home. She begins walking away, and Cassian throws the gift he got her into the Sidra River. He still flies over her until she reaches her apartment. Once Cassian leaves, Nesta lights a fire, remembering the snap of her father&rsquo;s neck as the fire cracks beside her, but she still feels nothing.
          | Cassian returns home, and Feyre begins to prepare for bed. Rhys whisks Feyre to their cabin for some quiet time. Feyre asks if Rhys can change her eye from her hand with the Night Court logo.He said,if he make this,she will be a Night Court member forever and she accept.Rhys change the eye form Feyre&apos;s hand with Night Court logo,the montain wint three stars.Feyre wants to give Rhys another gift. Through their bond, she sends an image of their son that the Bone Carver had shown them. Feyre&rsquo;s gift to Rhys is wanting to try to have that child now. The next morning, Rhys has one final gift for Feyre. He takes her to a dilapidated building and says he bought her the estate to build a house for them, a house with a baby room.
          | Rhys arrives at the Spring Court to find Tamlin sitting alone with a dead elk in front of him on the table. Tamlin asks Rhys if Feyre will ever forgive him. Rhys doesn&rsquo;t know the answer to that question. Then Tamlin asks Rhys if he will ever forgive him for what Tamlin did to his family. Rhys points out that Tamlin never apologized. Tamlin responds that it wouldn&rsquo;t have made a difference. Rhys prepares the elk, tells Tamlin to eat, and then leaves the Spring Court.
