.container
  
  .wrapper
    .mainHeading
      h1 A Court of Mist and Fury
    section
      // This is the intro paragraph
      .intro-para
        p
          b
            i A Court of Mist and Fury 
          |  is the second book in an adult fantasy series of the 
          b  A Court of Thorns and Roses series  
          |  by Sarah J. Maas.
        p
          | It is preceded by 
          a(href='/acotar')  A Court of Thorns and Roses
          |  and succeeded by 
          a(href='/acowar')  A Court of Wings and Ruin
          | . It was released on May 3, 2016.
          |         Like the previous novel, this novel also has fairy tale and mythological connections, with Hades and Persephone as this book&apos;s main theme.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/Acomaf.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Author 
            br
            small   Sarah J. Maas 
          li.list-group-item
            | Genre 
            br
            small Adult, Fantasy/Romance
          li.list-group-item
            | Release Date 
            br
            small May 3, 2016
          li.list-group-item
            | Series 
            br
            small A Court of Thorns and Roses Series
          li.list-group-item
            | Pages 
            br
            small 624
          li.list-group-item
            | Website 
            br
            small
              a(href='https://sarahjmaas.com/') World of Sarah J Maas
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#synopsis') Official Synopsis
          li
            a(href='#plot-summary') Plot Summary
          li
            a(href='#trivia') Trivia
      // this is the synopsis para
      #synopsis.synopsis
        h2 Official Synopsis 
        p
          | Feyre survived Amarantha&apos;s clutches to return to the Spring Court&mdash;but at a steep cost. Though she now has the powers of the High Fae, her heart remains human, and it can&apos;t forget the terrible deeds she performed to save Tamlin&apos;s people.
        p
          | Nor has Feyre forgotten her bargain with Rhysand, High Lord of the feared Night Court. As Feyre navigates its dark web of politics, passion, and dazzling power, a greater evil looms&mdash;and she might be key to stopping it. But only if she can harness her harrowing gifts, heal her fractured soul, and decide how she wishes to shape her future&mdash;and the future of a world cleaved in two.
      // this is the plot summary para
      #plot-summary.plot-summary
        h2 Plot Summary 
        p
          | A Court of Mist and Fury picks up three months after the events of A Court of Thorns and Roses. Feyre is back in the Spring Court with Tamlin. Though she and Tamlin are now engaged to be married, things are not going as well as we might hope. Feyre suffers from terrible nightmares that keep her awake and often make her physically ill. Tamlin pretends not to notice and won&rsquo;t even let her leave to visit the nearby village. He says it is to keep her safe. He also tells her that she will never be High Lady. She wonders what her role will be once they are married and why the mating bond hasn&rsquo;t formed between them.
          | Ianthe, one of the twelve the High Priestess of Prythian, plans the wedding and practically worships Feyre and Tamlin. She also has made an alliance with Tamlin on behalf of the High Priestesses. On the big day, Feyre realizes that she is too emotionally sick to make this life decision but doesn&rsquo;t know how to get out of it. She is screaming inside her mind for someone to save her, and that&rsquo;s when Rhysand shows up. He whisks her away to the Night Court, and Tamlin doesn&rsquo;t try to stop him.
          | She finds the Night Court much less terrifying than she expected though her opinion of Rhysand hasn&rsquo;t improved much. He insists that she learn to read and also to shield her mind. Her thoughts often scream at him through their mental link. She meets Rhysand&rsquo;s cousin Morrigan who is anxious to become her friend.
          | Rhysand, who does not have a high opinion of Ianthe, informs Feyre of things that have previously been kept from her. He says that war is coming and the Wall that separates the Fae world from the mortal world will likely come down if that happens. Feyre worries for her family. The King of Hybern has been planning to reclaim the mortal lands for a century. Prythian is the only thing standing in his way. Rhysand wants Feyre to find out if Tamlin will fight with the Night Court if it comes to it. He also believes that Feyre might have special abilities or powers (from the High Lords that created her) that she needs to learn to use.
          | Later Morrigan delivers the news that a temple in Cesere was attacked and all of the priestesses were slain. Azriel and Cassian believe it to be rogue Illyrian clans. Rhysand leaves to meet with them.
          | Feyre returns to the Spring Court, and Tamlin and Lucien immediately interrogate her about the Night Court. Feyre is starting to show signs of her growing powers. She burns the table and enters Lucien&rsquo;s mind accidentally&mldr;revealing that she is a daemati.
          | She returns to the Night Court for another week, and Rhysand notices that she has lost weight and is an unemotional shell. But her reading and mind shielding have improved.
          | Tamlin will not allow her to be trained to use her powers even though Lucien agrees that she should be trained. Tamlin is still keeping something from her. She tries to go with them on an outing to investigate some unknown threat, but Tamlin used his air shield to lock her in the house. She crumbles under her claustrophobia. Rhysand and Morrigan come to her rescue.
          | She stays in the Night Court for a while. Rhysand takes her to Velaris &ndash; The City of Starlight. Velaris is untouched by Amarantha because she did not know that it existed.
          | Rhysand takes Feyre to the House of Wind high on a mountaintop overlooking Velars to meet his Inner Circle of friends and advisors. In addition to Morrigan, this circle consists of Cassian and Azriel, winged Illyrians, and Amren a strange creature that once had a different body just like Feyre&ndash;though Feyre was completely made new when she was reborn by the High Lords. These four people all come from unexpected and often tragic backgrounds.
          | Rhysand takes Feyre to have a talk with the Bone Carver, at the Prison. Amren gives Feyre an amulet to borrow that will not allow her to be trapped in the Prison. The Carver confirms that Jurian is to be reborn using the eye that Amarantha kept around her neck. The King of Hybern is collecting the magical Cauldron, its missing feet, and the Book of Breathings, which tells how to completely control the Cauldron. With the Cauldron, they could shatter the Wall that separates the Fae from the mortal lands, including Feyre&rsquo;s family. Long ago the Book was ripped in two, and the mortal queens have one half, and The High Lord of Summer has the other. With it, they can nullify the powers of the Cauldron.
          | They start their search by going to Feyre&rsquo;s old home in the mortal lands and writing to the mortal queens. Feyre&rsquo;s sisters are terrified at first, but Elain warms to them. Nesta&rsquo;s attitude is less welcoming though they agree to help. While in the mortal lands the Attor, who was once in the employ of Amarantha, attempts to kidnap Feyre and they learn from him that the King of Hybern is on the move and will try to invade Prythian. He also wishes to have Feyre. They return home, but Azriel continues to use his spy network to try to reach the mortal queens.
          | Feyre decides it&rsquo;s time to start training both her fighting skills as well as her new magic. She slowly learns to use all of her new skills and is also to comes to terms with what happened to her and what she did Under the Mountain.
          | Later they are invited to the Summer Court, so Feyre, Rhysand, and Amren go to meet the new High Lord, Tarquin and Princess Cresseida. Feyre is to try to find the half of the Book of Breathings using her connection to Tarquin. She finds that she really does like the High Lord but in the end, she and Amren are able to steal it away from its hiding place in an old chapel on an island.
          | When they return home it is discovered that the Book&rsquo;s language is that of Amren&apos;s, who is the only known person of her kind. They believe the complete Book might also help her to get home using magic.
          | Time passes as Feyre trains, Amren tries to decode the book, and they all wait to hear from the mortal queens. They finally hear back, and the entire Inner Circle travels back to Feyre&rsquo;s family&rsquo;s home to meet with them. At first, the queens refuse to allow them to see the book. Only after Morrigan shares with them the facts of what will happen if Hybern breaks the Wall and invades, do they agree to think about handing the Book over. Their condition is that they need to see proof that Rhysand is not the monster that he is rumored to be.
          | Feyre learns about Miryam (a half-human, half-Fae) who was Jurian&rsquo;s lover but she fell in love with another Fae named Drakon. After the war and Jurian&rsquo;s defeat by Amarantha, Miryam, and Drakon, who were believed to be dead, snuck away and started a new life where humans and Fae can live together in peace.
          | As proof, Rhysand decides to show the queens his hidden city, Velaris. He will show them but not allow them in. To do this, they will use an orb containing truth magic that they will steal from the Court of Nightmares. When they arrive at the Court, they put on a great show meant to distract. Rhysand displays his brutality as a High Lord and Azriel is able to steal the orb. Before leaving the Court of Nightmares, Morrigan&rsquo;s father insults Feyre and Rhysand uses magic to break many of his bones.
          | Rhysand has been attacked by unknown threats with Ash arrows from the ground as he flies. He avoids them, but it seems he is being tracked when he uses his powerful magic. The group travels to the Illyrian war-camp that Rhysand, Cassian, and Azriel once trained in. Rhysand avoids using magic, but Feyre trains her magic with him away from the camp. Here Feyre learns that Tamlin&rsquo;s family killed Rhysand&rsquo;s mother and sister. In turn, Rhysand&rsquo;s father killed Tamlin&rsquo;s whole family. Feyre&rsquo;s worldview is changing.
          | While training one day Lucien and some others from the Spring Court find Feyre and try to convince her to come home with them, back to Tamlin. Feyre refuses, and Rhysand sends them on their way. Feyre and Rhysand decide to travel away for the night. The next day as Rhysand flies through the air carrying Feyre they are again attacked, and he takes seven poisoned ash arrows in his wings and several in his legs. They are separated, and Rhysand is captured. Feyre saves him, and they learn that the captors were from Hybern but Rhysand is poisoned and Feyre must find a cure. She captures the Suriel who is all knowing and asks him how to help Rhysand. She must let him drink her blood which will have healing powers from the High Lord of the Dawn. He also lets it slip that Rhysand is her mate and Rhysand has known for a while.
          | This knowledge infuriates her because he has been lying to her. Feyre takes several days away from everyone to come to terms with this turn of events. She rediscovers her painting, and when Rhysand comes to her, they reconcile and complete the mating bond. He tells her his whole story including the fact that he knew they were mates before she ever returned to the Spring Court after their time Under the Mountain. He had been dreaming of her for years before then.
          | They finally hear back from the mortal queens, and they meet once again at Feyre&rsquo;s old home in the mortal lands. Even after seeing the truth of Velaris the queens still refuse to give them the other have of the Book. They leave, but one queen had snuck the Book away and left it for them to find. Before going to back home, Cassian vows to help protect Feyre&rsquo;s sisters even if their mortal leaders abandoned them.
          | Back home Amren decodes the Book. But one day a great Hybern army sweeps in to destroy Velaris. The mortal queens have betrayed them. The Inner Circle, including Feyre and her now very strong powers, successfully hold the forces off just as Rhysand returns and puts the protective wards back into place.
          | They decide to quickly sneak into Hybern and nullify the Cauldron. Feyre must touch it and speak a spell. But things go terribly wrong in Hybern. Feyre does not speak the spell, and the entire group is captured by none other than Jurian who has been remade. The king uses magic to bind them from using their own magic while holding Azriel&rsquo;s life in the balance with an ash bolt.
          | It turns out that Tamlin sold them out. He and Lucien are there as well as the mortal queens. Feyre&rsquo;s sisters have been captured and are used as proof for the mortal queens that the Cauldron will work to make them immortal without harming them. Both sisters are turned into High Fae. Neither Tamlin nor Lucien knew that the sisters would be taken. It was Ianthe that gave their location away. Her goal is to get rid of High Lords and allow the High Priestesses to rule. Tamlin believes that he is saving Feyre from Rhysand. Lucien announces that Feyre&rsquo;s sister Elain is his mate.
          | Feyre, without anyone knowing, has been wielding her own magic, finding the cracks in the magic that binds them. When she is certain that her friends can escape she begins playing the part of a woman who is slowly getting her memory back. She makes Tamlin think that she wishes to go home with him to the Spring Court. She begs the king to end her bargain with Rhysand. And he does. Or at least he thinks he does. The bargain that she must visit him once a month is gone, but their mental tie and their mating bond remain. Her friends escape back home with the Book of Breathings and take Feyre&rsquo;s sisters with them. Rhysand prepares for war.
          | Feyre goes to the Spring Court with Tamlin. But little do they know that Feyre was, only the night before, made High Lady of the Night Court.
      // this is the trivia para
      #trivia.trivia
        h2 Trivia 
        ul
          li(style='list-style-type: circle;')
            | The first draft of A Court of Mist and Fury was written entirely in a split POV between Feyre and Rhys.
          li(style='list-style-type: circle;') This installment of the series went through multiple name changes.
          ul
            li(style='list-style-type: circle;')
              | A Court of Wind and Stone was the &apos;working title&apos; of the book. However, Bloomsbury UK informed Sarah that &apos;wind&apos; has a different meaning across the Atlantic, so it was quickly changed to A Court of Mist and Stone.
            li(style='list-style-type: circle;')
              | Then, during her Queen of Shadows tour, her editor suggested A Court of Calm and Fury. Maas liked the word &apos;Fury&apos; and thought about including it in the title.
            li(style='list-style-type: circle;')
              | Maas brainstormed a number of titles in her notebook. Among them included A Court of Stars and Smoke, A Court of Wings and Stars, A Court of Venom and Silver, and a A Court of Stars and Frost. She later finally chose A Court of Mist and Fury.
          li(style='list-style-type: circle;')
            | Like the previous novel, A Court of Mist and Fury is inspired and based around multiple fairy tales and myths, including
          ul
            li(style='list-style-type: circle;')
              | Hades and Persephone: The Greek myth inspired large parts of the novel in that Rhysand (meant to represent Hades) takes Feyre (Persephone) against her will to a place that is considered dark and evil, and eventually convinces her to stay.
            li(style='list-style-type: circle;') Hansel and Gretel: This fairy tale inspired the character of the Weaver.
            li(style='list-style-type: circle;')
              | Book of Exodus: This book loosely inspired parts of Miryam and Drakon&apos;s backstory.
