.container
  .wrapper
    .mainHeading
      h1 A Court of Wings and Ruin
    section
      // This is the intro paragraph
      .intro-para
        p
          b
            i A Court of Wings and Ruin 
          |  is the 3rd book in an adult fantasy series of the 
          b  A Court of Thorns and Roses series by 
          | Sarah J. Maas.
        p
          | It is preceded by 
          a(href='/acomaf')  A Court of Mist and Fury
          |  and succeeded by 
          a(href='/acofas')  A Court of Frost and Starlight
          | .The book was released on May 2nd, 2017, alongside the A Court of Thorns and Roses Coloring Book. This book is the final book in Feyre&apos;s point of view. Sarah J. Maas has more books planned for the series, however, these books will not feature Feyre as the main protagonist. There will also be two novellas coming in the ACOTAR world, along with the full novels.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/Acowar.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Author 
            br
            small   Sarah J. Maas 
          li.list-group-item
            | Genre 
            br
            small Adult, Fantasy/Romance
          li.list-group-item
            | Release Date 
            br
            small May 2, 2017
          li.list-group-item
            | Series 
            br
            small A Court of Thorns and Roses Series
          li.list-group-item
            | Pages 
            br
            small 699
          li.list-group-item
            | Website 
            br
            small
              a(href='https://sarahjmaas.com/') World of Sarah J Maas
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#synopsis') Official Synopsis
          li
            a(href='#plot') Plot
          li
            a(href='#plot-summary') Plot Summary
          li
            a(href='#trivia') Trivia
      // this is the synopsis para
      #synopsis.synopsis
        h2 Official Synopsis 
        p
          | Feyre has returned to the Spring Court, determined to gather information on Tamlin&apos;s maneuverings and the invading plans of King of Hybern &amp; his forces who threaten to bring Prythian to its knees. But to do so, she must play a deadly game of deceit &ndash; and one slip may spell doom not only for Feyre, but for her world as well.
        p
          | As war bears down upon them all, Feyre must decide who to trust amongst the dazzling and lethal High Lords and hunt for allies in some unexpected places.
      // this is the plot para
      #plot.plot
        h2 Plot
        p
          | The book starts with a prologue as a flashback, from Rhysand&apos;s point of view, that takes place on a battlefield during The War that took place 2 years before the construction of The Wall. Rhysand is walking among the aftermath of that day&apos;s fight, looking around at the dead. When he spots a half-shredded Illyrian wing, he fears it might be Cassian or Azriel, and start picking through the corpses. He sees that the soldier&apos;s hair and complexion bear a resemblance to Cassian but the face shows that it isn&apos;t him. After a moment of relief, Rhysand spots another set of Illyrian wings poking up from the piled bodies. He does the same, seeing if that other soldier is one of his brothers and discovering it&apos;s not. Again and again, Rhysand looks and digs his way through corpses of dead Illyrians.
        p
          | The book then picks up the present storyline, returning to Feyre&apos;s point of view. She is back in the Spring Court, in her old drawing-room in Tamlin&apos;s mansion. She is trying to paint but end up critiquing the paintings she did in the past weeks, comparing how she once was to who she is now that she&apos;s changed. She also starts thinking about not enjoying being in the company of those in the Spring Court, and recalling what happened to her sisters, Elain and Nesta, and Cassian the night they met the King of Hybern. She gets more upset at each thought of them to the point that she unconsciously breaks one of her paintbrushes in half. Luckily she destroys the evidence of her anger, right before Tamlin and Lucien comes to check in on her.
          | The three have a meeting with Ianthe, to talk to her about her leading the King of Hybern to abduct Elaine and Nesta. With Feyre and Lucien already aware and cautious of Ianthe&apos;s true nature, they listen to her and sees the lies. While Feyre just thinks of all the discrepancies, Lucien voices out loud his questions against Ianthe. However, Tamlin tries to rush through the confrontation and move on to discuss his Spring Court being in alliance with Hybern. As part of the bargain, Tamlin made with the King of Hybern, Tamlin is letting Hybern forces come into his land. Feyre expresses her concerns about allowing Hybern in and how it will affect the people of the Spring Court. Tamlin believes that his people will be protected, by relocating most of them to the eastern border. Feyre next learns that Hybern is sending a small group, that includes Jurian, in advance to the Spring Court.
          | After the discussion, the next morning Feyre sends information down her mating bond to Rhysand and asks about the well-being of the Inner Circle. They have a quick interaction; to avoid risking Tamlin or anyone else finding of it. Rhysand&apos;s short assurance that everyone is fine helps hold Feyre over while feeling alone being in enemy territory.
          | The following day, Jurian and two Hybern commanders, Princess Brannagh and Prince Dagdan who are the niece and nephew of the King of Hybern, arrive at Tamlin&apos;s mansion. They discuss creating an exploration party to go to The Wall and examine where the holes between Prythian and the Mortal Lands are.
          | Feyre does end up succeeding in destroying Tamlin&apos;s court from within, later, using the fact the Tamlin sold out Prythian and his people. She causes mass chaos with a rift created between the High Lord and his subjects. The majority of the Faeries in the Spring Court have a loss of respect for Tamlin and the sentries start distrusting him and leaving their posts.
          | Lucien leaves the Spring Court along with Feyre once he realizes how terrible Tamlin is and wants to find Elain. They both leave through a secret tunnel that takes them into the Autumn Court and spend some time trying to travel through incognito. One day, Feyre and Lucien run into Eris and Lucien&apos;s other brothers and have to fight to escape. Due to Feyre and Lucien still have faesbane in their system, they don&apos;t have full access to their powers. Feyre is able to call up some fire, which is a special power of the High Lord Beron and the rest of the royalty line of the Autumn Court, and fend against Eris and the others.
          | After Feyre and Lucien make their escape into the Winter Court, Eris and his brothers do catch up to them and a battle on a frozen lake ensues. Feyre ends up fighting Eris and Lucien fighting his other brothers. In the middle of the battle, Cassian and Azriel arrive, flying in to crash-land onto the ice. It&apos;s then that Lucien, Eris, and the other brothers discover that Feyre is the High Lady of the Night Court. Eris and his brothers decide to back off and the battle concludes, due to Feyre&apos;s high status and that the Autumn Court princes sustained great injuries too. From there, the four, Cassian carrying Feyre and Azriel carrying Lucien, fly out of the Winter Court to head to the Night Court.
      // this is the plot summary para
      #plot-summary.plot-summary
        h2 Plot Summary 
        p
          | Once Feyre returns to Velaris, she and Rhysand seek to have a meeting between all of the High Lords of Prythian so that they can unite and fight Hybern as one. Feyre must also help her sisters come to terms with being High Fae. Nesta is bitter and angry, while Elain appears to be depressed and empty, and in a state even worse than Feyre&apos;s at the beginning of ACOMAF.
          | Luckily, Cassian and Azriel are fine, and despite the low percentage of it happening, Cassian&apos;s wings heal completely. Feyre and the rest of the Inner Circle have a meeting about Hybern, deciding they should get Feyre&rsquo;s sisters to help them and try to fix the holes in the wall while stopping Hybern from getting help from allies from the Continent. Nesta comes to a meeting and agrees to help fix the wall and visit the Court of Nightmares to practice her powers, while the others ask for aid.
          | Feyre trains with Cassian and Azriel begins to teach her to fly. Rhys and Feyre visit the library to find information about the Wall and decide to recruit the Bone Carver. Feyre and Cassian speak to the Bone Carver and he agrees that if they bring him the Ouroboros Mirror then he will fight with them.
          | Keir meets with the Night Court inner circle and is reluctant to offer assistance, Rhysand knew this and invites Eris, heir to the Autumn Court to the meeting. Keir says he will help if he can have access to Velaris and Eris will urge his father to attend their High Lords meeting if they support his claim to the throne. Mor is furious that Rhysand made a deal with Eris and Amren explains how the Bone Carver will need to be bound to a body, like she was, to be set free. Lucien sits with Elain, trying to heal her mind with their mating bond. Azriel trains Feyre to use her wings, telling her the story of how Nephelle saved Miryam even though her wings were small and deformed.
          | Nesta and Feyre are ambushed by Hybern Ravens in the library, they retreat to the pit where something evil lives. Feyre makes a bargain with the monster to bring it company if it kills the Hybern Ravens, it agrees.
          | Feyre realizes that Elain has been made a seer after she tells everyone that there is another mortal queen. The queen was sold to an evil lord and is cursed to turn into a firebird every night, Lucien offers to go and find her.
          | Rhys hears word that the Summer Court is under attack, when they arrive no other aid has come and the court is being slaughtered. Mor and Feyre fight their way through the palace, killing any Hybern soldiers they find. Meanwhile, Rhys tracked down the King of Hybern but when he goes to strike, the king is nothing but an illusion.
          | Feyre meets with Tarquin who is still furious with her for stealing the Book and rejects her offer of further help. The Inner Circle arrive at the Dawn Court for the meeting with the High Lords. All the High Lords arrive, with Beron and Tamlin both making an entrance. Tamlin insists that he has come to help but throws insults at Feyre. The High Lords agree they must take a faebane antidote to protect their powers and evacuate the Spring Court immediately.
          | Feyre finds out that Helion had an affair with Lucien&rsquo;s mother, and from there figures out that it makes him Lucien&rsquo;s father, possibly. Nesta warns Feyre that they must return home immediately because she senses danger. A huge wave of power ripples over the lands, Nesta becoming sick as it happens and Rhys informs everyone that the Cauldron has brought the Wall down.
          | Amren and Feyre meet with Bryaxis in the library, offering him a second bargain in return for his help fighting against Hybern. Feyre and the others winnow to Graysen manor to ask Elain&rsquo;s fiance to shelter humans. Jurian arrives at the meeting, saying he is not the enemy and that he has been fighting Hybern from the inside. Jurian informs them that the Hybern will launch their attack tomorrow from the Summer Court. Graysen is disgusted by Elain now that she is fae and says he no longer wants to marry her.
          | Mor and Feyre watch the battle rage from atop a hill until Cassian returns needing to be healed. Feyre and Rhys put a glamour over the war camp so that they can ambush Hybern without their knowledge. Once they discover more of Hybern&rsquo;s forces Feyre realizes that it isn&rsquo;t the true army and she goes to ask the Suriel for answers. Feyre asks Elain to use her powers to find the Suriel and meets it in the Middle. The Suriel says that she must use Nesta to find and nullify the Cauldron but before the Suriel can say more Ianthe and two Hybern soldiers shoot it.
          | Feyre escapes into the Weaver&rsquo;s cottage and traps Ianthe and the guards inside. Feyre sits with the Suriel as it dies, it tells her that she was kind when no one else was. Nesta uses her abilities to find the location of the Cauldron and opens a link between it and the others who were made, enabling Hybern to take Elain.
          | Feyre uses Ianthe&rsquo;s appearance to sneak into Hybern&rsquo;s camp to rescue Elain. Feyre rescues Elain and Azriel comes to assist them, meanwhile, Jurian has left an injured human who Feyre wanted to free. Feyre orders Azriel to leave with the girls, leaving her defenseless but she is saved by Tamlin who intercepts Hybern&rsquo;s hounds.
          | Mor tells Feyre that she prefers females and doesn&rsquo;t love Azriel. Hybern&rsquo;s final attack is coming and Rhys orders everyone to winnow as many humans as they can out of harm&apos;s way before the fighting starts.
          | Feyre goes to the Court of Nightmares to retrieve the Mirror to give to the Bone Carver. He tells her he never wanted the mirror and only wanted to see if Feyre was worthy of helping. As everyone prepares for battle, Feyre reveals that the Bone Carver, Bryaxis, and the Weaver will be joining them.
          | Rhys doubts if they will win the battle just as Tamlin, Beron, and Graysen come to their aid. Nesta screams as the Cauldron unleashes its power, killing Illyrian soldiers, she manages to warn Cassian before he is killed. Feyre&rsquo;s father and Drakon bring their ships and armies to fight against Hybern.
          | Amren and Feyre run for the Cauldron but when Feyre touches it Amren betrays her. The Cauldron drags Feyre to Nesta, who is facing the King of Hybern who has their father captive. Cassian tries to save Nesta but is badly injured and the King kills their father. Elain thrusts her dagger into the king&rsquo;s throat killing him. Amren says that she betrayed them so that she could free herself but when she does she will kill everything in her path and not remember her previous life. Feyre realizes that the Cauldron gives everything life and must be restored, Rhys offers himself to be used as a conduit but the effort it takes ends up killing him.
          | The High Lords resurrect Rhysand and he manages to drag Amren back from dying. Lucien returns from finding Vassa and Feyre meets with Miryam and Drakon and asks them to hide the Cauldron on their island. Feyre calls a meeting to discuss a new treaty with the human and fae lands before they return back to Velaris.
      // this is the trivia para
      #trivia.trivia
        h2 Trivia 
        ul
          li(style='list-style-type: circle;')
            | As of 2017, this book is the longest book that Sarah J. Maas has published. It is 699 pages in the hardcover edition.
          li(style='list-style-type: circle;')
            | The book cover was unveiled on the 25th of January 2017. Before the date of release, Bloomsbury released two teaser images of the cover on their Snapchat. The final cover was designed by Adrian Dadich. While the dress pictured on the cover was originally designed by Charlie Bowater, and later adapted by Adrian Dadich for the final cover.
          li(style='list-style-type: circle;')
            | Due to the book&apos;s high page count, the pages of A Court of Wings and Ruin are thinner. This was also the case with her other book, Empire of Storms
          li(style='list-style-type: circle;') The book is dedicated to her husband, Josh Maas, and their dog, Annie.
