
.container
  .wrapper
    .mainHeading
      h1 Cassian
    section
      // This is the intro paragraph
      .intro-para
        p
          | Cassian is a member of the Night Court and part of Rhysand&apos;s Inner Circle. He is a childhood friend of Rhysand and Azriel. He rose to become the General Commander of Rhysand&apos;s - the Night Court&apos;s - armies. He is considered to be one of the most powerful Illyrians in Prythian history, along with Rhysand and Azriel.  
          br
          |         He&apos;s Nesta Archeron&apos;s mate and currently resides with her in the House of Wind.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/cassian(1).png' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Full Name
            br
            small   Cassian 
          li.list-group-item
            | Also known as 
            br
            small
              | Cass  
              br
              | Lord of Bloodshed
              br
              | Prince of Bastards
              br
              | Warrior-heart
              br
              | Pigeon (by Nesta Archeron in Wings and Embers)
              br
              | Lord of Bastards
              br
              | Lord Cassian
              br
          li.list-group-item
            | Age 
            br
            small
              | 536 (ACOMAF &amp; ACOWAR)
              br
              | 537 (ACOFAS)
              br
              | 538-539 (ACOSF)
              br
          li.list-group-item
            | Home 
            br
            small
              | House of Wind 
              br
              | Night Court
              br
              | Velaris
              br
              | Windhaven camp (formerly)
              br
          li.list-group-item
            | Species 
            br
            small Illyrian
          li.list-group-item
            | Powers 
            br
            small
              | Flight via Wings
              br
              | Siphon Shield
              br
              | Other Illyrian magic
              br
          li.list-group-item
            | Gender 
            br
            small Male
          li.list-group-item
            | Eye Colour 
            br
            small Hazel
          li.list-group-item
            | Hair Colour 
            br
            small Black
          li.list-group-item
            | Family
            br
            small
              | Unnamed Illyrian mother &dagger;
              br
              | Unnamed Illyrian father &dagger;
              br
              | Feyre Archeron (sister-in-law)
              br
              | Elain Archeron (sister-in-law)
              br
              | Rhysand (brother-in-law)
              br
              | Nyx (nephew)
              br
              | Azriel (adoptive brother)
              br
          li.list-group-item
            | Romances 
            br
            small
              | Nesta (mate)
              br
              | Tanwyn &dagger; (lover)
              br
              | Morrigan (one night stand
              br
          li.list-group-item
            | Appearances 
            br
            small
              | A Court of Mist and Fury 
              br
              | A Court of Wings and Ruin 
              br
              | A Court of Frost and Starlight 
              br
              | A Court of Silver Flames 
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#biography') Biography
            ol
              li
                a(href='#biography') Early Life
              li
                a(href='#acomaf') A Court of Mist and Fury
              li
                a(href='#acowar') A Court of Wings and Ruin
          li
            a(href='#physical-appear') Physical Appearance
      // 
      #biography.biography
        h2 Biography 
        h3 Early Life
        p
          | Cassian is the bastard son of an Illyrian war-camp laundress and an unknown warrior. As soon as his mother weaned him and he could walk, he was left in a distant war camp, Windhaven, for training. As a bastard, he received nothing and had to find his own shelter, food, and clothes. Cassian resorted to challenging other kids to fight and got their clothes as a prize.
          br
          |     Years later, when was old enough and strong enough, he came back to the camp he had been born into and discovered that the males of the camp had worked his mother until she died.
          br
          |     When Rhysand was taken to the same camp for training, Cassian beat him into a bloody mess for his new, clean training clothes, costing them three lashings each, which was considered an encouragement to keep fighting by Illyrian standards.
          br
          |     That night, when Rhysand was home with his mother, he saw Cassian walking through the mud to get to tents outside the camp. Rhysand did not take it well, understanding for the first time what it was to be warm, safe, and cared for. He woke Cassian in the middle of the night to take him to his house. Rhysand&apos;s mother took Cassian in and provided him with a home and shelter from then on. However, Rhysand and Cassian hated each other until Azriel arrived at camp and they decided to be allies. They made his life a living hell. As they and the other males around them grew older, the three males realized everyone else hated them enough that they had better odds of survival sticking together.
          br
          |     The other males knew that the three were different. They were stronger, faster, like the Cauldron knew they&apos;d been set apart and wanted them to find each other. As their power grew, Cassian and Azriel became the first bastard-born Illyrians to ever receive a siphon. When they were begrudgingly appointed them, it had every warrior in every camp across the mountains sizing them up. 
          br
          |     During the War, when Rhysand&apos;s father saw that his son had allied with the two most powerful Illyrian warriors in history, and fearing the three warriors would turn against him and rival him in power, he separated them. Rhysand was given command over a legion, Azriel was kept as his personal shadowsinger in his court, and Cassian was put in a different legion to be a common foot soldier, even when his power outranked any of the war-leaders. The three males only saw each other on battlefields for the seven years the War raged. When casualty lists were sent around the Illyrians, they would read each one, wondering if they&apos;d see their friends&apos; names on it.
        p
          | Although for an Illyrian bastard, he was expected to be a bottom-ranked soldier forever, Cassian&apos;s strength and power took him to the top of the ranks as a General Commander of the Night Court&apos;s armies and into Rhysand&apos;s Inner Circle, once Rhysand became the High Lord of the Night Court
        h3#acomaf
          a(href='/acomaf') A Court of Mist and Fury
        p
          | Cassian is introduced to Feyre at the House of Wind when Rhysand introduces her to his Inner Circle after she leaves the Spring Court. He asks her how she made the bone ladder to trap the Middengard Wyrm. This makes her angry and she retorts by asking, &quot;How the hell did you manage to survive this long without anyone killing you?&quot; This makes Cassian tip his head back and laugh. During the dinner, Cassian is the one who tells the story of how he, Azriel, and Rhysand met and became friends. He offers to train Feyre so she can fight.  
          br
          |   As the General of the Night Court&apos;s armies, he trains Feyre in battle combat. He accompanies Feyre and Rhysand when they go to her family&apos;s estate. There he meets Nesta. He finds her to be an equal match in quarreling and taunting. Eventually, it is hinted he has a more physical interest in her. Later on, during the second visit with the mortal queens to the estate, Cassian promises to help take care of her and her family if a war begins. When they are all trapped in the King of Hybern&apos;s castle, he stirs when he hears Nesta screaming, despite being unconscious and having his wings shredded.
        h3#acowar
          a(href='/acowar') A Court of Wings and Ruin
        p
          | Cassian, along with Azriel, went to rescue Feyre and Lucien from Eris and his brothers. Cassian fights off Eris, while Azriel and Lucien fight off the others. They only stop when Feyre commands them to. Cassian and Azriel take Feyre and Lucien to meet up with Morrigan, who then takes them to Velaris. Later, Cassian goes with Feyre and Rhys to see Feyre&apos;s sisters. When Nesta starts getting angry, Cassian points out that Nesta refuses to train, so there isn&apos;t a lot she can do against them.
      #physical-appear.physical-appear
        h2 Physical Appearance
        p
          | Cassian is tall with black, shoulder-length hair, massive, membranous wings, tan-skinned, and hazel eyes. His features are described as being rough-hewn, as though he&apos;d been made of wind, earth, and flame, and all these civilized trappings were little more than an inconvenience. His body is powerful and muscled. He wears a long sword strapped down the column of his spine.
          | Illyrian warriors typically wear one or two Siphons, to channel their raw power into something useful. Cassian requires seven of these to control his immense power.
