
.container
  .wrapper
    .mainHeading
      h1 Feyre Archeron
    section
      // This is the intro paragraph
      .intro-para
        p
          | Feyre Archeron (pronounced: Fay-ruh) is the High Lady of the Night Court and the first-ever High Lady of Prythian.
        p
          | She was originally a Mortal but was resurrected as High Fae by the seven High Lords after her death Under the Mountain. For sometime, Feyre resided at the Court of Dreams in Velaris after leaving the Spring Court, but returned to the Spring Court after the events in Hybern in A Court of Mist and Fury. As of the conclusion of the trilogy, Feyre has once again taken up residence in Velaris, reigning over the Night Court as High Lady alongside Rhysand, her mate, husband, and the High Lord of the Night Court.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/feyre(2).jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Full Name
            br
            small   Feyre Archeron 
          li.list-group-item
            | Also known as 
            br
            small
              | Feyre Cursebreaker 
              br
              |             Defender of the Rainbow 
              br
              |             Cursebreaker 
              br
              |             Feyre Couldron-blessed 
              br
              |             Feyre Darling(By Rhysand) 
              br
              |             Mate(By Rhysand) 
              br
              |             High Lady of the Night Court 
              br
          li.list-group-item
            | Age 
            br
            small
              | 19 (ACOTAR) 
              br
              | 20 (ACOMAF &amp; ACOWAR) 
              br
              | 21 (ACOFAS) 
              br
              | 21-22 (ACOSF) 
              br
          li.list-group-item
            | Home 
            br
            small
              | Night Court 
              br
              | Velaris 
              br
              | Spring Court (former) 
              br
              | Rosehall (former) 
              br
              | Unnamed Village (former) 
              br
              | The Archeron&apos;s estate (former) 
              br
          li.list-group-item
            | Date of Birth 
            br
            small December 21 (Winter Solstice)
          li.list-group-item
            | Powers 
            br
            small
              | Darkness Manipulation 
              br
              | Ice Manipulation 
              br
              | Water Manipulation 
              br
              | Fire Manipulation 
              br
              | Light Generation 
              br
              | Shapeshifting  
              br
              | Flight via (shapeshift) Wings 
              br
              | Healing Abilities 
              br
              | Daemati Abilities 
              br
              | Winnowing 
              br
              | Glamouring 
              br
          li.list-group-item
            | Gender 
            br
            small Female
          li.list-group-item
            | Eye Colour 
            br
            small Blue-Gray
          li.list-group-item
            | Hair Colour 
            br
            small Golden-Brown
          li.list-group-item
            | Family
            br
            small
              | Unnamed Father &dagger; 
              br
              | Unnamed Mother &dagger; 
              br
              | Nesta Archeron (sister) 
              br
              | Elain Archeron (sister) 
              br
              | Aunt Ripleigh (alleged aunt) &dagger; 
              br
              | Rhysand (husband/mate) 
              br
              | Nyx (son) 
              br
              | Cassian (brother- in-law via Nesta) 
              br
          li.list-group-item
            | Romances 
            br
            small
              | Rhysand (husband/mate) 
              br
              | Tamlin (ex-fianc&eacute;) 
              br
              | Isaac Hale (former lover) 
              br
          li.list-group-item
            | Appearances 
            br
            small
              | A Court of Thorns and Roses 
              br
              | A Court of Mist and Fury 
              br
              | A Court of Wings and Ruin 
              br
              | A Court of Frost and Starlight 
              br
              | A Court of Silver Flames 
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#biography') Biography
            ol
              li
                a(href='#biography') Early Life
              li
                a(href='#acotar') A Court of Thorns and Roses
              li
                a(href='#acomaf') A Court of Mist and Fury
              li
                a(href='#acowar') A Court of Wings and Ruin
              li
                a(href='#acosf') A Court of Silver Flames
          li
            a(href='#physical-appear') Physical Appearance
          li
            a(href='#personality') Personality
      // this is the synopsis para
      #biography.biography
        h2 Biography 
        h3 Early Life
        p
          | Feyre is the youngest child of three sisters, Nesta being the oldest and Elain the middle child. Feyre&apos;s family was a wealthy one. Her father was called the &quot;prince of merchants&quot; and her mother was negligent toward her daughters, caring only about her status and party planning.
          br
          |   Feyre&apos;s mother died of typhus when she was eight, but not before making her promise that she will take care of the family. When Feyre was nine, her merchant father put all their money into a trading business across the sea and lost all his ships. He went into debt and was hunted down and assaulted by those he owed. As a result, her father&apos;s knee was irreparably damaged, witnessed by Feyre as she was the only one of his three daughters who tried to stop her father&apos;s knee from being ruined. Now living in poverty, Feyre becomes the sole provider for the family despite being the youngest. Too young to read before her family lost their wealth, Feyre grew up illiterate, and without the upper-class training her sisters benefited from. When they were forced to move from their home to a nondescript village, Nesta, Elain, and their father left all the housekeeping and bread-winning to Feyre. When she was eleven, she started following hunters to the forest and learned to set snares and hunt by watching them. Later on, she began a sexual relationship with a village boy named Isaac Hale and her sisters searched for possible suitors.
          br
          |   Feyre has always had an interest in painting, but because her sisters avail themselves of any money Feyre brings into the household, she has little time or resources to purchase paints and practice.
          br
          |   One time Feyre was able to sell some of her hunts, Elain bought her three paints, red, blue, and yellow. Feyre started painting on every surface she could find, tables, and a shared dresser. She painted fire for Nesta, flowers for Elain, and although she could not explain it, she painted the night sky, stars, and moon for herself.
        h3#acotar
          a(href='/acotar') A Court of Thorns and Roses
        p
          | Feyre is first introduced in the snow-covered forests of her village as she hunts for food during the hard winter cold. She is close to starvation and while she settles to shoot a doe, she spots a wolf. Once Feyre notices, she struggles between running or shooting the large wolf, which could be a faerie. Out of hatred for the faeries, she shoots the unmoving wolf, and since he does not die, she shoots another arrow through his eye, finally killing him. Feyre skins the wolf and drags a doe she killed to her cottage. Unbeknownst to her, the wolf was Andras&mdash; a faerie from the Spring Court who was sent to the mortal realm by Tamlin.
          br
          |     A day after killing the wolf, Feyre goes to the village to sell what is left of the doe. When she comes back, while having dinner with her family, a beast with a bear-like body, wolf head, and elk horns destroys her cottage&apos;s door and storms into it, asking who killed the wolf. When Feyre confesses it was her and asks the beast what the price is, the beast replies &quot;a life for a life&quot;. When Feyre requests that the beast kill her outside so that her family does not have to clean her blood from the floor, the beast is impressed by her nerve and tells her that she could fulfill her debt by spending her life in Prythian.
        p
          | Her father encourages her to do it and never come back. Feyre leaves with the beast and for the few minutes they move through the woods, she looks for a way to run away or kill it. She is then knocked out by the beast with magic and kept unconscious throughout the whole trip.
        p
          | Feyre regains consciousness when she is already in the Spring Court and arrives at a nice, seemingly empty manor. She is taken into a dining room by the beast who, with a flash of light, transforms into a blond, young man with a mask, Tamlin. He offers her food, which she refuses. He sends her to have a bath and come back. When she returns, she still refuses to eat, believing that she will be spelled. Tamlin and Feyre are joined only by a faerie named Lucien who initially starts mocking her for being human and looking starved. Tamlin tries to get her interest by telling her she looked cleaned and well dressed, which she dismisses as pathetic flirting. Due to her continued distrust he magically chains her to the seat and promises not to release her until she eats, Feyre obliges and is sent to her room and not a cell, to her surprise.
          br
          |       Although initially, the relationship with Tamlin is hard, eventually he gains Feyre&apos;s trust and interest. Feeling that she is failing the promise she made to her mother and leaving her family to die, Tamlin confesses that he glamoured her family to think she left to take care of a sick aunt and her father&apos;s ships were found across the sea. Tamlin himself sent them gold and jewels to ensure their well-being after he took Feyre. Feeling free, she starts painting and tries to learn to read.
        p
          | During the night of the Calanmai, Feyre is advised by Tamlin to stay in her room and not open her door no matter what. Restless due to the sound of drums, and feeling them call to her, she leaves the manor and goes to the hills.
          br
          |         While there, she meets three High Fae, who take an interest in her and herd her to the woods, where they attempt to take advantage of her. She is then saved by a stranger, who she thinks is the most beautiful man she has ever seen, sensual, yet dangerous. When they part ways, she is found by Lucien and returned to the manor.
          br
          |         When she hears the music from the hills suddenly stop, Feyre strolls out of her room to have a snack, only to be found by a strange Tamlin, drunk with magic. He starts seducing her and bites her neck. She slaps him and tells him she is not a second plate. After these events, the interest between her and Tamlin becomes more obvious.
          br
          |         One morning while having breakfast, the faerie who saved her during Calanmai enters the manor. Before he gets to the dining room Lucien glamours Feyre to not be visible to the stranger. Tamlin reveals the stranger to be Rhysand and tries to kick him out. Rhysand reveals that he came to the Spring Court to pass a message from an unknown woman, later revealed to be Amarantha. Before Rhysand leaves, he notices the extra plate on the table and recognizes Feyre&apos;s smell. He destroys the glamour and, using his powers, reads and grabs Feyre&apos;s mind, hurting her and scaring Tamlin.
          br
          |         After this, Tamlin sends her home, where she finds her now wealthy family. Nesta confesses she resisted Tamlin&apos;s glamour and remembers everything that happened. After a few weeks, Feyre decides to come back to the Spring Court, which she finds deserted and destroyed. She finds Alis, who explains what happened and why.
        p
          | Feyre decides to go Under the Mountain, where she is taken to Amarantha. Feyre claims she wants to free Tamlin and Amarantha agrees, but only if Feyre survives three challenges and solves a riddle. Tamlin stays silent and unmoving throughout the whole interaction between the ladies.
          br
          |           During her first trial, Feyre hurts her arm, which is left unattended by Amarantha and the other faeries. One night, Rhysand manages to get into Feyre&apos;s cell and offers her healing in exchange for spending two weeks out of every month in the Night Court. Feyre initially disagrees but negotiates to one week a month. Once they both agree, a beautiful black tattoo with a cat&apos;s eye in the palm of her hand appears on her left arm.
          br
          |           After successfully completing the remaining two trials, Amarantha, enraged, starts killing Feyre, who eventually manages to break Amarantha&apos;s curse with her last breath. Amarantha snaps Feyre&apos;s neck and she dies.
          br
          |           Feyre is later resurrected by the seven High Lords of Prythian, but she is turned in the process into a High Fae, traumatized by all the things she had to do to free Tamlin, herself, and the whole of Prythian. She shares a goodbye with Rhysand and then returns to the Spring Court to live with Tamlin.
        h3#acomaf
          a(href='/acomaf') A Court of Mist and Fury
        p
          | Feyre has spent three months in the Spring Court after the events of Under the Mountain. She battles with the traumatic events she experienced, having killed two innocent High Fae as part of her tests. She constantly awakens in the middle of the night with nightmares and vomits in the bathroom. Tamlin, dealing with similar issues, ignores what is going on with both of them, pretending nothing happened. Feyre&apos;s physical and mental health keeps deteriorating and Tamlin does not allow her out of his manor.
          br
          |   Feyre spends her time planning her wedding along with Ianthe, a high priestess, and Tamlin&apos;s childhood friend. Ianthe takes over the responsibility of wedding planner and, with Tamlin, controls every aspect of Feyre&apos;s life, including what she wears. Feyre, being so broken, accepts everything they want to do with her.
          br
          |   According to Ianthe and Tamlin, Feyre&apos;s responsibilities are to bear children to ensure Tamlin&apos;s bloodline survives, and plan parties. She has to behave according to his desires to send the &quot;right message&quot; to the remaining courts. Tamlin confesses to her that she will be a consort only, never a High Lady.
          br
          |   On the day of her wedding, Feyre is not sure of what she is doing. She thinks after being married, things will be better between her and Tamlin and eventually, a mating bond will occur. Alis mentions that she looks as if she is going to a funeral instead of her wedding.
        p
          | Ten steps before reaching Tamlin, Feyre decides to stop the wedding. However, she can barely speak and stops walking down the aisle. She panics and prays for someone to rescue her and stop the wedding. Tamlin realizes what is happening and tries to grab her and pull her towards him. Suddenly Rhysand appears to take Feyre away to the Night Court, calling in the bargain she made with him Under the Mountain.
          br
          |     They both winnow to the Night Court, where she finds a great house on a mountain, instead of the horrible place she expected. Feyre is surprised to see concern in Rhysand&apos;s eyes but while he makes fun of her wedding dress and fiasco, she throws one of her shoes at his head. Rhysand tells her that she is rather strong for a normal High Fae and that she might have inherited the powers from other High Lords, while they resurrected her, and that she needs to train to be prepared for an upcoming war against the King of Hybern and his forces.
          br
          |     The next morning Rhysand tells Feyre her &quot;torture&quot; for the week, learning to read. He also offers her a job to stay with him and work for him, which she refuses automatically out of hate and anger towards him.
          br
          |     When Feyre is returned to the Spring Court, Tamlin uses her as a spy to gather all possible information about the Night Court and Rhysand.
          br
          |     During the Tithe, a tax collection Tamlin assembles for all members of his lands, Feyre helps a water wraith pay her debt, a fact that infuriates Tamlin. When they start arguing about it, Feyre confesses that she feels controlled and overwhelmed by Tamlin. Out of fury, he destroys his study, yet she is not hurt, having created a wall of air around her for protection. She immediately forgives Tamlin for what happened.
          br
          |     When Rhysand takes her to the Night Court for a second time, she spends most of her time alone and reading books, after learning to read and write under Rhysand&apos;s teachings and teasing. He also teaches her to block her mind from anyone that may attempt to control her. When she is about to return to the Spring Court, concerned, he asks her what can he do to help her, since she is looking physically and mentally worse every day. She again refuses his help but expresses that she is not so excited about going back to the Spring Court.
          br
          |     When she returns to the Spring Court, Tamlin restricts all of her privileges, saying that it&apos;s for her own safety. One morning, Tamlin goes out on patrol with Lucien and Feyre catches them leaving and begs to go along. Tamlin refuses and wards the house with her inside, locking her in. She panics and envelops herself in a cocoon of darkness, fire, and wind. Rhysand is forced to destroy Tamlin&apos;s wards and sends Morrigan in to rescue Feyre. 
          br
          |     When Feyre awakes the next day she finds Rhysand in her room, tired and desperate, after spending the night in a chair watching over her. He tells her she is free to stay in the House of Wind until she desires to leave. Feyre asks him to take her with him and he winnows them to Velaris. 
          br
          |     After meeting Rhysand&apos;s Inner Circle, Feyre decides to work with him. After several events, she starts realizing how broken she was and how badly she was treated at the Spring Court. She begins a road of self-discovery that leads her right where she belongs. All of this is in the midst of the beginning of a war against Hybern. In the process, Rhysand gets shot out of the sky with ash arrows and Feyre saves him, killing the attackers and removing the arrows from his body. She finds that the arrows were poisoned and tries to help Rhys by catching the Suriel. She finds out that the High Lord of the Night Court is her mate.
        p
          | Feyre is upset, but returns to Rhys and heals him with her blood, as the Suriel tells her to. She takes Rhys back to Morrigan and the others and asks Mor to take her away. After a few days in a small cottage, Feyre realizes that she loves Rhysand as he does her. He appears one day and explains everything to her, how he protected Velaris from Amarantha, and the dreams he used to have of Feyre&apos;s life. He tells her how he found her at the Calanmai, when he felt the mating bond, and how he fell in love with her. They are intimate and then return to the Illyrian camp. Cassian provokes Rhys into a fight to work off some of the aggression he feels. They retrieve the first half of the Book Of Breathings and are given the second half by the Golden queen of the mortal world. 
          br
          |       Velaris is then attacked and Feyre defends the city, using the powers at her disposal. She kills the Attor and Rhys names her Defender Of The Rainbow. Rhys, Feyre, Mor, Cassian, and Azriel travel to Hybern. Feyre fails to nullify the Cauldron, and they meet Jurian, who has been resurrected by the King of Hybern. Jurian shoots Azriel and they are brought before the King of Hybern. It is revealed that Tamlin and Lucien were working with Hybern, allowing Hybern to set up an area where they could knock down the wall in exchange for Feyre back. The King senses that Rhys and Feyre are mates. Apparently, Ianthe betrayed them and told the King where Feyre&apos;s sisters were. The King has them dragged out and dropped into the Cauldron, making them High Fae. Lucien and Elain&apos;s mating bond snaps into place. Rhys almost makes the King an offer when Feyre begins to shake violently and throws out her Light magic from the Day Court, temporarily blinding everyone. She destroys the wards on the castle preventing them from winnowing out and plays one last game, pretending that Rhys had kept control over her mind. 
          br
          |       Her friends play along as she cries and runs to Tamlin, who refuses to accept that she could even love someone else, and views her as his property, his prize. They say their silent goodbyes and Mor winnows Elain and Nesta out. Rhys, Cassian, and Azriel follow. Feyre goes back to the Spring Court and it is revealed that she is Rhysand&apos;s spy and the High Lady of The Night Court, Rhys&apos;s queen and equal in every way. As Feyre walks up the driveway, she glances back and sees that Lucien has seen through every lie. She smiles at him as Tamlin leads her into the heart of his territory.
        h3#acowar
          a(href='/acowar') A Court of Wings and Ruin
        p
          | Feyre returns to the Spring Court. She is there to spy for Rhysand and the Night Court to gather information. She also plots the destruction of Tamlin&apos;s court - from the inside. She uses a glamour to cover up the tattoo that marks her as High Lady of the Night Court. She begins turning Tamlin&apos;s sentries against him, convinces the rest of the Fae in Spring that she is Cauldron-blessed, and establishes her status in the Spring court. She kills Dagdan and Brannagh, Hybern&apos;s niece and nephew, and forces Ianthe to break her hand. When she&apos;s done with her job, she leaves. She&apos;s primed the Spring Court to fall and left to go home. Lucien follows her on her journey where she runs into three of Lucien&apos;s brothers, one being Eris, heir to the Autumn Court. Cassian and Azriel rescue them and bring them home. She has an emotional reunion with Mor and Amren but is overcome with emotion when she sees Rhys. Hybern attacks Adriata, and the Night Court comes to their aid. Rhys&apos;s Inner Circle goes to the battle and helps Tarquin and his soldiers defeatsHybern. The King comes in a hologram, revealing to Rhys that he knew of their personal histories and that it will take everything they have to defeat him.   
          br
          |         Rhys is scared to death because of this and is scared that he threatened Feyre&apos;s life. The King disappears and Rhys leaves the ship. Once Feyre realizes that they have the armies, she thinks about their side having the monsters and requests to go see the Bone Carver. Rhys takes her and Cassian to the Prison and Feyre asks him to fight against Hybern. He agrees, but will only fight if she retrieves the Ouroboros, a mirror possessed by Keir, Mor&apos;s father.
        h3#acosf
          a(href='/acosf') A Court of Silver Flames  
        p
          | Feyre was dealing with the aftermath of the war, and her sister Nesta. She and the rest of the inner circle decided to send Nesta to the House of Wind, to train with Cassian and work in the library. 
          br
          |           Shortly after, Feyre became pregnant with a baby boy. But she didn&apos;t know that since it would have wings, and her body wasn&apos;t made to give birth to an Illyrian, Feyre and the baby could die. Rhys hid this information from her, hoping he could find a way to save both Feyre and the child. 
          br
          |           Once Nesta got very angry and told Feyre she could die from childbirth. Feyre was distraught and didn&apos;t understand why the inner circle and her mate hid this from her. 
          br
          |           Feyre gave birth early, and Nesta used her power to change the shape of Feyre&apos;s anatomy so she could survive the birth. Feyre lived and they named the baby, Nyx. Feyre and her mate were happy and looking forward to a life with the little boy.
      #physical-appear.physical-appear
        h2 Physical Appearance
        p
          | Feyre is tall, slender, and powerfully built, with pale skin, golden-brown hair, and slightly up-tilted blue-grey eyes. Before arriving at the Spring Court, Feyre ate very little due to her family&apos;s poverty, rendering her extremely thin. However, once settled into the Spring Court, she filled out to a healthy weight, as she says herself her body now looks like the one of a woman, with her full breasts and the sweeping, soft curves of her waist and hips. Despite her thinness, she had always been considered strong.
          br
          |     After her time in the Spring Court, her skin tanned and freckled. She has a pert, pretty and straight nose, sharp cheekbones, and a soft mouth (her father&apos;s mouth). She is described as beautiful. After turning into a High Fae while living with Tamlin, she wastes away and becomes skinny once more, during this period she describes her face as gaunt, with sharp cheekbones, her eyes are dull and smudged with purple beneath, her full lips are wan and her collarbones jut out. She eventually regains her weight during her stay in the Night Court in A Court of Mist and Fury.
          br
          |     Her left forearm bores a tattoo given to her by Rhysand. The tattoo acts as a bargain contract that requires Feyre to spend one week every month of her life in the Night Court.
          br
          |     The tattoo that signifies her bargain with Rhysand was later destroyed by the King of Hybern in A Court of Mist and Fury. However, her other arm now bears a matching tattoo to the original, marking her as the High Lady of the Night Court.
          br
          |     After the event of A Court Of Wings And Ruin, Feyre bears her High Lady tattoo on her right arm, while on her left arm she has a black band from her bargain with Bryaxis and the twin to her right tattoo that marks her bargain to die at the same time as Rhysand. She has four phases of the moon with a small star in the center of them tattooed down her spine, for her deal with the Bone Carver.
          br
          |     In A Court of Frost and Starlight she asks Rhys to replace the eye that is tattooed on the center of her palms with the design of the Night Court insignia, a mountain with three stars. This kind of marking can never be altered.
      #personality.personality
        h2 Personality
        p
          | Feyre begins by having a strange, cold, withdrawn mask that hides her warmth and compassion. She is very stubborn and keeps her promises, although she is quite a natural at lying. She has a rebellious, daring side to her and is very curious about the world around her.
          br
          |     Feyre is seductive and charming when she wants to be but generally prefers to remain open to the people she has an affection for. She hates it when others judge her, and is fairly indignant in terms of those who don&apos;t receive equal rights. She can be very cunning as she is brilliant at masking her emotions and playing different roles, and has a hotheaded temper when provoked. She has an unwavering loyalty to those who have earned her trust, and hatred towards those who have broken it.
          br
          |     Feyre has a dark side that she doesn&apos;t mind showing, driven forward by her compassion, determination, self-sacrificing nature, and faith for those she loves. Feyre is also a keen artist, although after the events under the mountain she couldn&apos;t bring herself to paint.
