.container
  
  .wrapper
    .mainHeading
      h1 Home
    .Heading
      img(src='images/Welcome.png' alt='')
    p
      | You are welcome to the 
      b A Court of Thorns and Roses Fandom
      |  which is a website for the community of the fandom of the best selling   A Court of Thorns and Roses series
      | by  Sarah J. Maas. We aim to provide all the information about the book in one place. We would be providing information about the    
      a(href='#characters') Characters
      |  and the   
      a(href='#locations') Locations
      |  and much more.
    .wrapperHeadings
      h1(style='font-size: x-large;') About Author
    p
      | Sarah Janet Maas (born 5 March 1986) is an American fantasy author. Sarah J. Maas is the #1 New York Times bestselling author of the Throne of Glass series and A Court of Thorns and Roses(ACOTAR) series, as well as a USA Today and international bestselling author. Sarah wrote the first incarnation of the Throne of Glass series when she was just sixteen, and it has now sold in thirty-five languages. A New York native, Sarah currently lives in Pennsylvania with her husband and dog.
      | She graduated Magna Cum Laude from Hamilton College in 2008 with a degree in Creative Writing and a minor in Religious Studies.
    .Heading
      img.resize(src='images/Navigation.gif' alt='')
    .search
      input.search-bar(type='text' placeholder='Search...')
      button.btn.btn-dark Search
    .flex-container-categories
      .categories
        a(href='#books')
          img(src='images/Book_Navi.png' alt='')
      .categories
        a(href='#characters')
          img(src='images/Characters_Navi.png' alt='')
      .categories
        a(href='#locations')
          img(src='images/Locations_Navi.png' alt='')
    .flex-container-categories
    .Heading
      img#books.resize(src='images/The_Book_Series.gif' alt='')
    p
      | ACOTAR(A Court Of Thorns And Roses) series consists of 5 fantasy books alltogether. This Fanpage is dedicated to those 5 books in the series.
    .flex-container-books
      .books
        a(href='/acotar')
          img(src='images/Acotar-0.jpg' alt='')
        a(href='')
          h3 Acotar
      .books
        a(href='/acomaf')
          img(src='images/Acomaf.jpg' alt='')
        a(href='')
          h3 Acomaf
      .books
        a(href='/acowar')
          img(src='images/Acowar.jpg' alt='')
        a(href='')
          h3 Acowar
      .books
        a(href='/acofas')
          img(src='images/Acofas.jpg' alt='')
        a(href='')
          h3 Acofas
      .books
        a(href='/acosf')
          img(src='images/Acosfcover.jpg' alt='')
        a(href='')
          h3 Acosf
    .Heading
      img.resize(src='images/Characters.gif' alt='')
    .flex-container-characters
      #characters.characters
        a(href='/rhysand')
          img(src='images/rhysand (1).jpg' alt='')
        a(href='/rhysand')
          h3 Rhysand
      .characters
        a(href='/feyre')
          img(src='images/feyre(1).jpg' alt='')
        a(href='/feyre')
          h3 Feyre
      .characters
        a(href='/nesta')
          img(src='images/nesta.jpg' alt='')
        a(href='/nesta')
          h3 Nesta
      .characters
        a(href='/cassian')
          img(src='images/cassian.jpg' alt='')
        a(href='/cassian')
          h3 Cassian
      .characters
        a(href='/azriel')
          img(src='images/azriel.jpg' alt='')
        a(href='/azriel')
          h3 Azriel
    #locations
      h2 Locations
      .flex-container-characters
        #characters.characters
          a(href='/prythian')
            img(src='images/Prythian.png' alt='')
          a(href='/prythian')
            h3 Prythian
        .characters
          a(href='/velaris')
            img(src='images/velaris.jpg' alt='')
          a(href='/velaris')
            h3 Velaris
        .characters
          a(href='/mountain')
            img(src='images/mountain.jpg' alt='')
          a(href='/mountain')
            h3 Under the Mountain
        .characters
          a(href='/hybern')
            img(src='images/Hybern.png' alt='')
          a(href='/hybern')
            h3 Hybern
