.container
  .wrapper
    .mainHeading
      h1 Rhysand
    section
      // This is the intro paragraph
      .intro-para
        p
          | Rhysand (pronounced REE-sand) is the most powerful High Lord in history and the current ruler of the Night Court, alongside Feyre Archeron.
          br
          |     He is incredibly handsome and appears to be arrogant, careless, and cold at first. He meets Feyre when he saves her from three faeries at Calanmai. Not long after, he helps Feyre countless times throughout her trials Under the Mountain and went as far as to fight for her in the final moments before she died.
          br
          |     When she was resurrected, their mating bond clicked into place, but he hid it from her in fear that it would scare her away. In the end, she accepted the mating bond and he swore Feyre in as his High Lady.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/rhysand(2).jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Full Name
            br
            small   Rhysand 
          li.list-group-item
            | Also known as 
            br
            small
              | Rhys
              br
              |             Prick (by Feyre)
              br
              |             Pig (by Feyre and Mor)
              br
              |             Bastard (by Feyre and Mor)
              br
              |             His Darkness (by Amren)
              br
              |             Lord of Night
              br
              |             Death Incarnate
              br
              |             Night Triumphant
              br
              |             Rhysie (by Cassian and Mor)
              br
          li.list-group-item
            | Age 
            br
            small
              | 534-535 (ACOTAR)
              br
              | 535 (ACOMAF &amp; ACOWAR)
              br
              | 536 (ACOFAS)
              br
              | 536-537 (ACOSF)
              br
          li.list-group-item
            | Home 
            br
            small
              | Night Court 
              br
              | Velaris 
              br
          li.list-group-item
            | Species 
            br
            small Half-High Fae, Half-Illyrian
          li.list-group-item
            | Powers 
            br
            small
              | Darkness Manipulation
              br
              | Winnowing
              br
              | Daemati Abilities
              br
              | Glamouring
              br
              | Flight via Wings
              br
              | Misting
              br
          li.list-group-item
            | Gender 
            br
            small Male
          li.list-group-item
            | Eye Colour 
            br
            small Violet
          li.list-group-item
            | Hair Colour 
            br
            small Blue-Black
          li.list-group-item
            | Family
            br
            small
              | Unnamed Father &dagger;
              br
              | Unnamed Mother &dagger;
              br
              | Unnamed Sister &dagger;
              br
              | Feyre (mate)
              br
              | Keir (uncle)
              br
              | Morrigan (cousin)
              br
              | Nesta (sister in-law)
              br
              | Elain (sister in-law)
              br
              | Nyx (son)
              br
              | Cassian (brother- in-law)
              br
          li.list-group-item
            | Romances 
            br
            small
              | Feyre (mate/wife)
          li.list-group-item
            | Appearances 
            br
            small
              | A Court of Thorns and Roses 
              br
              | A Court of Mist and Fury 
              br
              | A Court of Wings and Ruin 
              br
              | A Court of Frost and Starlight 
              br
              | A Court of Silver Flames 
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#biography') Biography
            ol
              li
                a(href='#biography') Early Life
              li
                a(href='#succesion') His Succession as High Lord
              li
                a(href='#acotar') A Court of Thorns and Roses
              li
                a(href='#acomaf') A Court of Mist and Fury
              li
                a(href='#acowar') A Court of Wings and Ruin
          li
            a(href='#physical-appear') Physical Appearance
          li
            a(href='#personality') Personality
      // 
      #biography.biography
        h2 Biography 
        h3 Early Life
        p
          | Rhysand was born to the High Lord of the Night Court and his mate, an Illyrian Seamstress.
          br
          |     When Rhysand was eight, his mother took him to an Illyrian war camp to be trained as she did not want him to rely on his Fae powers alone. When he arrived, he met Cassian and they immediately despised each other. Cassian was born a bastard, and so he was given nothing. He had to find his own shelter, his own food. Rhysand saw him walking in the cold one night and he realized for the first time what it was like to not be warm, safe, and cared for. The fact that Cassian would be forced to stay in the cold didn&apos;t sit well with Rhysand, and so he went out and tracked him to his tent, woke him up, and invited him to stay at his house.
          br
          |     Even though they lived under the same roof, they still hated each other and only behaved because if one of them got into trouble or provoked the other, then neither of them ate that night. His mother also tutored Cassian, but it wasn&apos;t until Azriel arrived a year later that they decided to be allies. Rhysand and Cassian made Azriel&apos;s life a living hell, but Rhysand&apos;s mother had known his mother and took him in. As they grew older, they realized that they had better odds of survival sticking together, and stopped tormenting one another.
        h3#succession.biography
          a(href='') His Succession as High Lord
        p
          | During various court functions over the years, Rhysand got to know Tamlin, the youngest son of the High Lord of Spring Court at the time. Being a half-breed Illyrian who had to prove himself and defend his power, Rhys saw what he (Tamlin) was going through and befriended him. He sought Tamlin out whenever he was able to get away from war camps or court and taught him some Illyrian techniques. His family disapproved and Tamlin&apos;s father was threatened by him. And because he thought he was weaker than both Tamlin and Rhysand, he wanted to prove that he wasn&apos;t.
          br
          |     One day, Rhysand&apos;s mother and sister were traveling to the Illyrian war camp to see him. He was supposed to meet them halfway, but he was busy training a new unit and decided to stay. Tamlin&apos;s father, brothers, and Tamlin himself set out into the Illyrian wilderness. He knew from Rhysand, where his mother and sister would be and that he had plans to see them. Rhysand was supposed to be there, and when they found out that he wasn&apos;t, they slaughtered his mother and sister anyway. They put their heads in boxes and sent them down the river&mdash;to the nearest camp. Tamlin&rsquo;s father kept their wings as trophies.
          br
        p
          | When Rhysand and his father heard, they winnowed to the edge of the Spring Court that night, then went the rest of the way on foot to the manor. When they got there, Rhysand slew Tamlin&apos;s brothers on sight. He held their minds and rendered them helpless while he cut them into pieces, then melted their brains inside their skulls. However, when he got to the High Lord&apos;s bedroom, he found the High Lord and his wife dead, killed by his father, even after he had promised not to touch Tamlin&apos;s mother. And then he went for Tamlin&apos;s room. Rhys tried to stop him, but his father didn&apos;t listen to him at all. He was going to kill Tamlin too, but he couldn&apos;t let his father do it. He didn&apos;t care that Tamlin had been there, had allowed them to kill his mother and sister, that he&apos;d come to kill Rhys because he didn&apos;t want to risk standing against them. He was done with death. So he stopped his father before the door. But when his father tried to go through him, Tamlin opened the door, saw them&ndash;smelled the blood spilled from his father&apos;s room, and killed Rhys&apos; father in one blow.
          br
          |         Moments later, the powers from the two deceased High Lords shifted to both of them respectively, crowning them both as the new High Lords of their court. After that, Rhys ran from the Spring Court, and they had had a deep hatred for each other ever since.
        h3#acotar
          a(href='/acotar') A Court of Thorns and Roses
        p
          | Rhysand attends the Calanmai celebration at the Spring Court. There Rhysand saves Feyre from three faeries who were harassing her. Curious as to why a mortal is attending the Fire Night celebrations, Rhysand asks if she wishes to be escorted away. Feyre denies his offer and hurries away quickly. However, before leaving she briefly pauses to ask if he&apos;s part of the Spring Court, to which he replies that he isn&apos;t and is proud of that fact.
          br
          |     Later, as a nostalgic gift, Rhysand sends the head of a male High Fae, spiked on top of a fountain statue to the Spring Court. It is branded with the Night Court&apos;s sigil of a mountain and three stars.
          br
          |     Rhysand visits the Spring Court to check up on Tamlin. Feyre is glamoured from his view beforehand by Lucien. Rhys compliments Lucien&apos;s mask, earning a retorted insult. He continues to ask Tamlin about the severed head that he had previously given him, to which Tamlin expresses his displeasure. Rhysand snaps a number of insults to Tamlin about his personality and his pathetic court. Tamlin ignores him, but Lucien becomes angry and calls him &quot;Amarantha&apos;s whore&quot; as an insult. Both argue, but it is ended quickly with Rhys warning Tamlin that Amarantha is preparing for them.
          br
          |     Just as Rhysand was about to leave, he notices the number of plates on the table. He becomes curious about who the other guest is. Quickly, Tamlin lies and says he sent them off. Unfortunately, Rhysand saw through this trick and expresses his outrage that they glamoured Feyre. He remarks that he remembers Feyre from Fire Night. Lucien lies and says that she is his betrothed to keep her out of trouble. But once again, Rhysand sees through the lie and threatens the Autumn Court and his family. Rhysand appears to enjoy tormenting Lucien and mutters that he should not dabble with mortals. This hits a nerve with Lucien who begins to shake out of fear.
          br
          |     Rhysand is present when Feyre first approaches Amarantha. It is revealed that Rhysand did, in fact, relay the news of Feyre&apos;s existence to Amarantha. When confronts by Rhysand, Feyre gave a fake name, Clare Beddor, to protect her identity. Clare Beddor was a girl Feyre knew from her village, and it is discovered that Amarantha hunted his girl down, dragged her into the Faerie territory, locked her up Under the Mountain, and tortured her for days on end before her mortal body finally gave out, and Amarantha ordered her remains be strung up in the throne room to further her humiliation. Strangely enough, Amarantha was under the impression that Feyre had not lied and that she really was Clare Beddor, for Amarantha had received a positive identification from Rhysand, who was, despite what Tamlin or Lucien might&apos;ve said about him, trying to protect Feyre.
          br
          |     During the trials, Feyre is severely wounded by the Middengard Wyrm and is slowly dying of a nasty infection. With Lucien unable to reach her, Feyre is forced to rely on Rhysand, seeing as how she is in desperate need of healing. Rhysand agrees to heal her shattered arm, but only if she agrees that if she manages to defeat Amarantha and escapes with the Spring Court, she must willingly visit Rhysand in the Night Court for two weeks every month for the rest of her life. Feyre declines at first horrified at the prospect, but in no time she comes to her senses and realizes she has no other choice. She accepts his offer, but only after managing to negotiate down to one week instead of two.
          br
          |     During the second trial, Rhysand provides much-needed assistance to Feyre, seeing as how it is now in his best interest that she lives. The trial involved reading and comprehension, which Feyre, at the time, could not do. She was almost completely illiterate. She would have certainly failed if not for him.
          br
          |     After the second trial, Rhysand found Tamlin and Feyre making love and intimidates Tamlin to leave. He then scolds Feyre, saying what could have happened if Amarantha had seen Tamlin and Feyre together. However, while they were arguing, Rhysand&apos;s head suddenly snapped toward the door and he kissed Feyre just as Amarantha came in with Tamlin and a crowd of fae. He did it to hide the evidence that Tamlin made love to Feyre.
          br
          |     After Feyre completed the third trial and was tortured by Amarantha, Rhysand, although he could not wield a considerable amount of power against Amarantha, attempted to defend Feyre. His efforts, of course, were pointless and had no effect on the situation. After Amarantha&apos;s death, at the hands of Tamlin, Rhysand, along with the other five High Lords, regained their power in full and Rhys was able to use his ability to influence and infiltrate the mind to convince the other High Lords to resurrect Feyre and remake her as Fae.
          br
          |     Rhys and Feyre.
          |     The two (Feyre and Rhysand) do not part as enemies, but converse amicably, each reveling in their newfound freedom. In the end, Rhysand, in an uncharacteristically awkward motion, stumbles and immediately winnows away mid-conversation with no explanation. Feyre is shocked and left confused by this, not knowing that Rhysand fled because he felt their mating bond-slip into place, the sensation stronger and clearer than ever before. Rhys goes on to hide this fact from her for the majority of A Court of Mist and Fury.
        h3#acomaf
          a(href='/acomaf') A Court of Mist and Fury
        p
          | Rhysand plays a huge role in A Court of Mist and Fury. It starts with him being absent from Feyre&apos;s life for three months after Amarantha&apos;s defeat.
          | Feyre throwing shoes at Rhys after he takes her to the Night Court.
          | He intercepts Feyre and Tamlin&apos;s wedding as soon as he hears Feyre&apos;s pleas for help through their bond. He takes Feyre to the Night Court on behalf of their bargain made Under the Mountain. He notices Feyre&apos;s weight loss and explains that he can see everything Feyre has been through&mdash;her vomiting each night and her lack of desire to paint&mdash;because of their bond. She meets Rhys&apos;s cousin there, Mor. Rhys proceeds to teach her how to read and how to shield her mind from being trespassed, and she reluctantly goes along with it. Before he sends her back to the Spring Court, he asks her for help after revealing that war is coming.
          br
          |     The second time Rhys comes to collect Feyre, he remarks on the amount of food in the Spring Court after noticing her loss of weight once more. When Tamlin requests to end her bargain in exchange for anything at all, Rhys claims that he already has everything he wants and whisks Feyre away. He again asks her about his offer for her role in the upcoming war and she denies him, much to his dismay. He sees her falling apart silently from her trauma of Amarantha, and wants to help her. When she refuses, he riles her to the point where she finally feels something rather than just emptiness and sorrow, and her rage leads to her using her newfound abilities from the High Lords of the other Courts.
          br
          |     Rhys orders Mor to take Feyre from the Spring Court after she is unwillingly locked in by Tamlin. He gives Feyre permission to stay at the Night Court for however long she wants whilst she figures things out. When Feyre asks to follow Rhys out to wherever he&apos;s going, he warns her that she will not be able to share what she will see with anyone, including her friends in the Spring Court. Feyre promises not to, and he brings her to Velaris, the City of Starlight, where his people live in peace and harmony&mdash;and had withstood Amarantha&apos;s reign.
          br
          |     Rhys introduces Feyre to his Inner Circle, his cousin and Third in Command, Mor; his army commander, Cassian; his spymaster, Azriel; and his Second in Command, Amren. After dining with them and hearing of Cassian&apos;s past with Rhys in a war camp, Mor convincing her that she was no longer part of the Spring Court, and Cassian offering to help teach her to fight, Feyre accepts Rhys&apos;s offer to work with him. They continue discussing the upcoming war and Jurian, and when their only chance in knowing how to defeat the King of Hybern was to talk to the Bone Carver in The Prison, Rhys gives Feyre the choice in accompanying him. She does.
          br
          |     The Bone Carver tells Rhys and Feyre that the only way that Jurian could possibly be freed from his eternal prison and returned to his body is by the magic of the ancient Cauldron, from which the world was born. The Cauldron, however, has been lost for centuries but has been apparently recovered by the King of Hybern. The only known way to counteract the effects of the Cauldron is preserved in the Book of Breathings. The book was divided into two parts. One half is possessed by the High Lord of Summer, Tarquin, and the other half is in the care of the Mortal Queens from across the sea.
          br
          |     The Bone Carver also reveals something that Rhysand has known all along: when Feyre was resurrected by the seven High Lords and remade as Fae, she unknowingly and unwittingly siphoned their powers, and now carries within her the chief abilities of all seven Prythian High Lords, including Rhysand and Tamlin. In order to test her abilities and the extent of her powers, Rhysand has her face the Weaver, an ancient, wicked creature who fiercely guards over her vast treasure hoard, and also happens to be blind. Feyre is tasked by Rhys to steal one of his family heirlooms, a ring that had belonged to his mother, from the Weaver and escaped unnoticed, if possible. Events do not permit this, and, although Feyre manages to successfully lift the ring, she barely escapes with her life. She curses Rhysand for not intervening, but he simply states that she must learn how to do things on her own. Because she was able to find the precious artifact belonging to Rhysand, it is determined that she can track the possessions of High Lords and is ready to search for the half of the Book of Breathings belonging to Tarquin.
          br
          |     Rhys, Feyre, and Amren travel to the Summer Court, and Feyre befriends Tarquin in an attempt to discern from him the location of the Book of Breathings, but somewhere along the way she begins to grow fond of him and starts to regret deceiving him so. She also feels sparks of jealousy, for Rhysand engaging in a very flirtatious and possibly sexual relationship with Cresseida. The two tease each other regarding their separate prospective romances, but neither go beyond words. Whilst stealing the Book of Breathings, Rhysand fails to wipe the minds of the Summer guards, leading to Tarquin&apos;s discovery of the Night Court&apos;s betrayal and his public denouncement of the said court. He even goes as far as to demand their deaths. Amren finds this quite amusing.
          br
          |     Rhysand, however, does not. He regards this as a personal failure and is extremely ashamed. Feyre attempts to cheer him up, or at least, spur him into action. For a moment, they go beyond flirting, which makes Feyre uncomfortable. They are interrupted by Azriel, to whom Feyre is grateful. Later, Feyre finds herself fantasizing about Rhysand, only to find out that he had been playing with her mind and influencing her thoughts the entire time. She curses him.
          br
          |     That night, Rhysand has a horrific nightmare that causes the entire townhouse to tremble and shake. Feyre rushes to his side in an attempt to soothe him but finds herself unable to wake him. Overcome with fear and something else, Feyre lashes out with her own power to defend herself, using the abilities she inherited from Rhys. After waking, Rhys reveals that he too suffers from nightmares from his time Under the Mountain and the trauma Amarantha inflicted on him. Feyre is happy to be in his confidence and feels a certain closeness between them. It is then that she is inspired to paint again, an activity she had lost interest in after the events Under the Mountain.
          br
          |     After a night of literally sharing a bed, Rhysand is shot out of the sky with ash arrows by Hybern&apos;s soldiers. Feyre rescues him, and in an attempt to heal him, goes to find the Suriel. The Suriel reveals not only the antidote for Rhys&apos;s wounds but also that Feyre is Rhysand&apos;s mate. After winnowing Rhysand to safety, a confused and angry Feyre leaves to spend time in solitude for a while.
          br
          |     Rhys eventually finds her and explains his actions, prompting Feyre to accept the mating bond. The two sleep together, making the bond permanent.
          br
          |     The Inner Circle meets with the Mortal Queens, and to their dismay, learn that the Queens are not at all interested in an alliance and have no intention of bequeathing their half of the Book of Breathings to the Night Court. Indeed, they have already written off the small portion of Prythian that is occupied by mortals as indefensible and a waste of resources when it comes to protection. The queens, who are untrusting of the Fae, and who have heard of Rhysand and supposedly abhorrent court, demand proof that Rhys and the Night Court mean well, and Rhysand, with no other option, agrees to show them Velaris. Not to give them a guiding tour of the city, of course, but show proof of its existence, and prove that he is indeed a &quot;male of peace&quot;[3] as he claims.
          br
          |     Towards the end, it is said that Feyre swore as the High Lady of the Night Court before they went to Hybern to try to nullify the Cauldron. They then witness the transformation of Elain and Nesta from mortal to fae. Feyre makes an act of freeing from Rhysand&apos;s power and then asks the King of Hybern to break the bond. She then goes with Tamlin and Lucien back to the Spring Court but now as a spy.
        h3#acowar
          a(href='/acowar') A Court of Wings and Ruin
        p
          | During the duration of Feyre&apos;s stay at the Spring Court, her and Rhysand communication takes place only through their mating bond. Feyre feeds Rhysand tidbits of information regarding the Spring Court, and he assures her of the safety and well-being of their friends, Cassian and Azriel, and her sisters, Elain and Nesta. Due to the catastrophic effects of the faebane, Feyre is unable to contact Rhysand after leaving the Spring Court. After a while, the effects begin to wear off, and Rhysand sends Cassian, and Azriel to rescue her from the sons of Beron, unable to do it himself due to the fact that he was currently collecting intelligence on the continent.
          br
          |         Rhys races back to Velaris to greet Feyre, and the two immediately make passionate love to one another. Afterward, Rhysand agrees to offer sanctuary to Lucien, who had fled the Spring Court with Feyre, despite their mutual animosity towards each other. Feyre soon visits her sisters who stayed in the Night Court. She finds Nesta in the library who later is revealed to have daily fights with Cassian. She visits Elain&apos;s room later in and finds her in a bad condition and wants to go back to Graysen, a human, as they are supposed to be married in a week.
          br
          |         Afterward, the Inner Circle decides to host a meeting with the High Lords of all courts to seek help for the looming war. They have also decided to seek help with one of the mortal queens who was cursed and sold to a man who adores beautiful young women. Lucien volunteers and he is sent off to fetch, Vassa, the cursed queen.
          br
          |         Days before the original date of the meeting with the High Lords, Amren receives information from Varian, Prince of Adriata, that the Summer Court is being attacked by Hybern. Mor, Azriel, Cassian, Rhysand, Feyre, and some Illyrian soldiers help Tarquin. Tarquin sees Mor, Rhys, and Feyre after the battle and he is quite angry as he was once betrayed by what he thought was his friends.
          br
          |         The meeting then happens in the Dawn Court as its High Lord, Thesan, agreed. Here we meet other High Lords. (In order of appearance) Thesan, High Lord of Dawn, with his lover and his captain. Helion, High Lord of Day, later seen as a close ally and having a secret desire of a foursome with Azriel, Mor, and Cassian, came in with a few of his men. Kallias, High Lord of Winter, and his wife and mate, Viviane, who is Mor&apos;s best friend. Tarquin, High Lord of Summer Court, comes with Varian and Cresseida, who then later frees Rhys, Feyre, and Amren from the blood ruby he gave them. Beron, High Lord of Autumn, comes in late with his wife and all his sons including Eris. Right before they start, Tamlin comes in alone, and during the meeting, because of his foul words, Rhysand takes away his ability to speak. During the meeting, Feyre&apos;s powers are also revealed.
          br
          |         The wall breaks and all the high lords prepare for war. The first of the courts to fight were Night and Summer, Day, Dawn, and Winter join later. In the final battle, Autumn joins in because of Tamlin the tool the tool&apos;s begging. They come in with a few members of the Spring Court and Tamlin and also the human army brought by Jurian. Drakon, Miryam, Vassa, and Feyre&apos;s father also help. Because of the low chances of winning, Feyre previously had a bargain with Bryaxis, the monster in the Night Court library, and the Bone Carver to help. Rhys reveals that he, too, made a bargain with the Weaver for her services.
          br
          |         They win the war, thanks to Amren&apos;s help in transforming to her true form. Her transformation causes the Cauldron to break, making Rhysand sacrifice himself to repair it and subsequently save their world. He is brought back to life after Feyre begs the other High Lords to bring him back as they saved her. When Rhys was dead, he saw Amren and offered his hand to see if she wanted to come back with him. Amren is fished out of the Cauldron by Mor and she is now a high fae.
          br
          |         At the end of the book, Rhys and Feyre swear an oath to one another that when either one of them dies, the other will as well, so that they will be together until the end of time.
      #physical-appear.physical-appear
        h2 Physical Appearance
        p
          | Rhysand is described to be heartbreakingly handsome and has short blue-black hair, like a raven&apos;s feathers, and violet eyes with flecks of silver like starlight. He has a tan complexion, however, he was also once pale because he was forced Under the Mountain for so long, and gained back his coloring after spending time in Velaris. He also has tattoos decorating his arms and muscular chest. He has tattoos on both of his knees of mountains with 3 stars on top of the mountains, representing that he will bow for nothing and no one but his crown and Feyre.
          br
          | He has giant, smooth membranous wings that are flecked with a hint of iridescence and are clawed like a bat&apos;s. He wears rich clothing, cloaked in tendrils of night: an ebony tunic brocaded with gold and silver, dark pants, and black boots that reached his knees.
          br
          | His beauty and handsomeness are said to be legendary, greater so far than anyone else&apos;s in Prythian. He radiates sensual grace and ease and keeps his composure most of the time.
      #personality.personality
        h2 Personality
        p
          | He is very arrogant, as he knows exactly how handsome he is, occasionally throwing jokes and comments about his heartbreaking beauty. He is extremely dark in terms of his behavior and has an air of mystery, swagger, and sensuality surrounding him. He handles things with a certain level of casualness, courteousness, and grace that is as savage and dangerous as it is beautiful and remarkable. But most of this is just a mask. Under it, he&apos;s a kind, generous and humble person. He is a &quot;shameless flirt,&quot; and is an expert at manipulation, deception, trickery, and lies. He is also able to hide his emotions flawlessly.
          br
          |     However, even though he acts careless and cruel, he does really care about certain things and will do anything, and sacrifice anything, to keep them safe and unharmed. He loves his wings and flying, he adores the Court of Dreams and above all else, cherishes Feyre. He chose to defend and fight alongside Feyre against Amarantha, even though it would have probably cost him his life, had she not solved the riddle. As Amarantha targeted him to be her whore, he suffered from a lot of emotional trauma that he hides with deadly grace and ease. However, beneath the shadows and coldness he seems to always portray, he loves very fiercely and passionately for the people he really cares about.
