.container
  .wrapper
    .mainHeading
      h1 Velaris
    section
      // This is the intro paragraph
      .intro-para
        p
          | Velaris, or the City of Starlight, is a hidden city on the western side of the Night Court. It is home to the Court of Dreams, one of the two sub-courts of the Night Court. The walls of Velaris had not been breached in over five thousand years. The city remained hidden from Amarantha, thanks to Rhysand&apos;s sacrifice Under the Mountain.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/velaris.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Name
            br
            small   Velaris
          li.list-group-item
            | Continent
            br
            small   Prythian
          li.list-group-item
            | Court
            br
            small   Night Court
          li.list-group-item
            | Notable Residents
            br
            small
              | Rhysand
              br
              |             Feyre
              br
              |             Cassian
              br
              |             Azriel
              br
              |             Mor
              br
              |             Amren
              br
              |             Nesta
              br
              |             Elain
              br
              |             Sevenda
              br
              |             Rita
              br
              |             Ressina
              br
              |             Polina
              br
              |             The Weaver of the Rainbow
              br
          li.list-group-item
            | Notable Locations 
            br
            small
              | The House of Wind
              br
              | The Library
              br
              | The Sidra River
              br
              | The Rainbow of Velaris
              br
              | The Town House
              br
              | Amren&apos;s apartment
              br
              | Nesta&apos;s apartment
              br
              | The Four Market Squares
              br
              | The Palace of Thread and Jewels
              br
              | The Palace of Bone and Salt
              br
              | The Palace of Hoof and Leaf
              br
              | Rita&apos;s
              br
              | Restaurant
              br
              | Rhysand and Feyre&apos;s estate by the Sidra
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#description') Description
          li
            a(href='#history') History
      // 
      #description.biography
        h2 Description 
        p
          | Velaris had been built like a crust atop the rolling, steep hills are flanked by a board, winding river, sparkling like deepest sapphire - the Sidra River - and snaking toward the vast expanse of water beyond, the sea. The Sidra River is loitered by ships with sails of varying shapes, making it navigable. At the northen edge of Velaris, curved to where the river bent toward them and flowed into their shadows, tower, like eternal guardians of the city, a wall of flat-topped mountains of red stone. Their middle and larger peak has holes and windows built in the uppermost part of it, in fact there is where resides the House of Wind, Rhysand&apos;s house for official business. To the north different kind of mountains surrounded the city across the river, a range of sharp peaks like fish&apos;s teeth cleaved the city&apos;s hills from the sea beyond.  
          br
          |     The city&apos;s buildings are crafted our of white marble, warm sandstone and the same red stone of the flat-topped mountains that can be found in the northern edge of the city. Many quarters of Velaris are full of town houses with green copper roofs and white chimneys.
          br
          |     In Velaris many shops can be found with delicate tables and chairs scattered outside their cheery fronts, restaurants like the Restaurant where the Inner Circle go dining and nightclubs like the Rita&apos;s. Many of this buildings are heated by warming spells.
          br
          |     Velaris has four main market squares called Palaces, two on the southern side of the Sidra River and two on the northen side. We know the name of only three of the four squares: the Palace of Thread and Jewels and the Palace of Bone and Salt that sell respectively jewels and food and are positioned on the southern side of the Sidra River, and, the Palace of Hoof and Leaf positioned on the northen side of the Sidra River and twin square to the Palace of Bone and Salt. They are white-stoned squares flanked by Tehran pillars supporting the carved and painted buildings that watch over them and provide a covered walkway beneath the shops built into the street level.
          br
          |     What Velaris is mast known for is the artists&apos; quarter, called the Rainbow of Velaris, where dwell the preforming artists, the musicians, the dancers, the actors. It is a brightly painted pocket of the city, built atop one of the hills that flowed right to the river&apos;so edge. In the Rainbow of Velaris can be found a hundred galleries, supply stores, potters&apos; compounds, sculpture gardens and anything in between. In this quarter is located a building with a golden top, the most famous of the five main theaters in the city. In Velaris there are also other smaller theathers and an amphitheater on the sea cliff.
        h2#history.biography
          a(href='') History
        p
          | There was a time when the Night Court was the Court of Nightmares and was ruled from the Hewn City. But an ancient High Lord had a different vision, and rather than allowing the world to see his territory vulnerable at a time of change, he sealed the borders and staged a coup, eliminating the worst of the courtiers and predators, building Velaris for the dreamers, establishing trade and peace.   
          br
          |     To preserve it, he kept it a secret, and so did his offspring, and their offspring. There are many spells on the city itself&mdash;laid by him, and his Heirs, that make those who trade here unable to say anything about the city, and grant them adept skills at lying in order to keep the origin of their goods, their ships, hidden from the rest of the world. Rumor has it that ancient High Lord cast his very life&rsquo;s blood upon the stones and river to keep that spell eternal.
