extends ../layout

block content
    h1 Add New Match
    form(action="/products/add" ,method = "post")
        .form-group
            label(for="teamA") Team A Name
            input#teamA(type="text", class="form-control", name = "teamA")
        .form-group
            label(for="teamB") Team B Name
            input#teamB(type="text", class="form-control", name = "teamB")
        .form-group
            label(for="date") Date
            input#date(type="text", class="form-control", name = "date")
        .form-group
            label(for="city") City
            input#city(type="text", class="form-control", name = "city")
        input(type="submit", class="btn btn-info")