body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(.././images/space.jpg);
  background-size: cover;
}

.signup-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px;
  margin: 8% auto;
  text-align: center;
}
.signup-form h1 {
  color: red;
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  outline: none;
}
button {
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: white;
  width: 30px;
  margin: -27px auto 10px;
}
.error {
  border: 1px solid red;
}
