.container
  .wrapper
    .mainHeading
      h1 Azriel
    section
      // This is the intro paragraph
      .intro-para
        p
          | Azriel is a member of the Night Court and part of Rhysand&apos;s Inner Circle. He is a childhood friend of Rhysand and Cassian. 
          br
          |         Azriel is a shadowsinger, and acts as spymaster for Rhysand. He is considered to be one of the most powerful Illyrians in Prythian history, along with Rhysand and Cassian.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/azriel.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Full Name
            br
            small   Azriel 
          li.list-group-item
            | Also known as 
            br
            small
              | Az 
              br
              | Death 
              br
              | Angel of Death 
              br
              | The Shadowsinger 
              br
          li.list-group-item
            | Age 
            br
            small
              | 537 (ACOMAF &amp; ACOWAR) 
              br
              | 538 (ACOFAS) 
              br
              | 539-540 (ACOSF) 
              br
          li.list-group-item
            | Home 
            br
            small
              | House of Wind 
              br
              | Night Court
              br
              | Windhaven camp (formerly)
              br
          li.list-group-item
            | Species 
            br
            small Illyrian
          li.list-group-item
            | Powers 
            br
            small
              | Shadowsinger Abilities 
              br
              | Flight via Wings 
              br
              | Siphon Powers
              br
          li.list-group-item
            | Gender 
            br
            small Male
          li.list-group-item
            | Eye Colour 
            br
            small Hazel
          li.list-group-item
            | Hair Colour 
            br
            small Black
          li.list-group-item
            | Family
            br
            small
              | Unnamed Mother
              br
              | Unnamed Father
              br
              | Unnamed Stepmother
              br
              | 2 Unnamed Half-brothers
              br
          li.list-group-item
            | Romances 
            br
            small
              | Morrigan (unresolved pining) 
              br
              | Elain Archeron (love interest)
              br
          li.list-group-item
            | Appearances 
            br
            small
              | A Court of Mist and Fury 
              br
              | A Court of Wings and Ruin 
              br
              | A Court of Frost and Starlight 
              br
              | A Court of Silver Flames 
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#biography') Biography
            ol
              li
                a(href='#biography') Early Life
          li
            a(href='#physical-appear') Physical Appearance
      // 
      #biography.biography
        h2 Biography 
        h3 Early Life
        p
          | Azriel is the bastard son of an Illyrian lord. For eleven years he lived with his father, stepmother, and two older half-brothers. The two boys and their mother were cruel and spoiled. While living in his father&apos;s keep, his stepmother kept Azriel in a cell with no windows or light. He was allowed to come out only for an hour a day, and to see his mother for one hour every week. He was not allowed to train or fly, even when his Illyrian instincts urged him to do so.
          br
          |     When he was eight, his two cruel half-brothers decided it would be fun to see what happened when you mixed an Illyrian&apos;s quick healing gifts with oil and fire. They poured oil on his hands and lit them on fire. His father&apos;s warriors heard Azriel&apos;s screaming, and rescued him but not quick enough to save his hands, leaving them permanently scarred.
          br
          |     At the age of eleven, he was dumped in the Illyrian training camp, Windhaven, where he was well received by the camp lords due to his shadowsinging gifts. He eventually met Rhysand and Cassian, as they were training at the same camp. At this point, like Cassian, Rhysand&apos;s mother took him in, for she was a friend to Azriel&apos;s mother.
          br
          |     When Rhysand&apos;s father saw that his son had started to rival him in power and had allied with the two most powerful Illyrian warriors in history, he separated them in fear that they would eventually turn against him. Rhysand was given command over a legion, Azriel was kept as his personal shadowsinger, and Cassian was appointed as a foot soldier.
          br
          |     Once Rhysand became the High Lord of the Night Court, Azriel was appointed as spymaster and became part of his Inner Circle.
      #physical-appear.physical-appear
        h2 Physical Appearance
        p
          | Azriel is described as classically beautiful, but near-unreadable. He is tall, with dark hair, tan skin, and massive Illyrian wings. His eyes are hazel and the planes of his face are elegant. His Illyrian training is described to have shaped his body to be extremely powerful and muscular. He has brutal scars on both hands. Azriel is constantly surrounded by shadows as if even the light shied from him. A cocoon of silence seems to pulse around him.
        p
          | Illyrian warriors typically wear one or two Siphons to channel their raw power into magic, but Azriel requires seven cobalt Siphons to maintain his power. He keeps his dagger, Truth-Teller sheathed at his thigh.
