.container
  .wrapper
    .mainHeading
      h1 Under the Mountain
    section
      // This is the intro paragraph
      .intro-para
        p
          | Velaris, or the City of Starlight, is a hidden city on the western side of the Night Court. It is home to the Court of Dreams, one of the two sub-courts of the Night Court. The walls of Velaris had not been breached in over five thousand years. The city remained hidden from Amarantha, thanks to Rhysand&apos;s sacrifice Under the Mountain.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/mountain.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Name
            br
            small   Velaris
          li.list-group-item
            | Continent
            br
            small   Prythian
          li.list-group-item
            | Court
            br
            small   Night Court
          li.list-group-item
            | Notable Residents
            br
            small
              | Amarantha
