.container
  .wrapper
    .mainHeading
      h1 Nesta Archeron
    section
      // This is the intro paragraph
      .intro-para
        p
          | Nesta Archeron is the sister of Feyre and Elain. They lived together alongside their father at the beginning of A Court of Thorns and Roses. She is the eldest of the Archeron sisters and Cassian&apos;s mate. With the help of Emerie and Gwyneth Berdara she revived the Valkyries, a legendary group of elite female warriors wiped out 500 prior to the story told in ACOTAR, and became a Valkyrie herself. She underwent Illyrian training under Cassian and Azriel&apos;s supervision and is, with Gwyn and Emerie, the first female to participate in (albeit forcibly) and complete the Illyrian Blood Rite ceremony. 
          br
          |     She was originally Mortal but was Made into High Fae after being thrown into the Cauldron by the King of Hybern. She is cold, calculating, the Archeron sister who felt it all too keenly, too sharply, a blade given form.
          br
          |     She&apos;s the only being in existence able to summon, wear and carry all the objects that make up the Dead Trove. At the end of A Court of Silver Flames she developed a connection with The Mother and also gained a tattoo on her back, proof of the bargain she struck with The Cauldron.
          br
          |     She and Cassian currently reside in the House of Wind.
      // this is the card
      .card(style='width: 18rem;')
        img.card-img-top(src='images/nesta.jpg' alt='')
        .card-body
          h5.card-title General Information
        ul.list-group.list-group-flush
          li.list-group-item
            | Full Name
            br
            small   Nesta Archeron 
          li.list-group-item
            | Also known as 
            br
            small
              | Kingslayer 
              br
              |             Goddess of Death
              br
              |             Princess of Decay
              br
              |             Lady Death
              br
              |             Queen of Queens
              br
              |             Nes (by Cassian)
              br
          li.list-group-item
            | Age 
            br
            small
              | 22 (ACOTAR)
              br
              |         23 (ACOMAF &amp; ACOWAR)
              br
              |         24 (ACOFAS)
              br
              |         25 (ACOSF)
              br
          li.list-group-item
            | Home 
            br
            small
              | House of Wind
              br
              | Night Court
              br
              | Nesta&apos;s apartment (former)
              br
              | Unnamed Village (former)
              br
              | The Archeron&apos;s estate (former)
              br
          li.list-group-item
            | Species 
            br
            small
              ol
                li(style='list-style-type: circle;')
                  | High Fae (Illyrian anatomy)
                li Mortal (former)
          li.list-group-item
            | Powers 
            br
            small
              | Pure Death 
              br
              | Can sense the Cauldron 
              br
              | Connected to the Mother 
              br
              | Linked to the Dead Trove 
              br
          li.list-group-item
            | Gender 
            br
            small Female
          li.list-group-item
            | Eye Colour 
            br
            small Blue-Gray
          li.list-group-item
            | Hair Colour 
            br
            small Golden Brown
          li.list-group-item
            | Family
            br
            small
              | Unnamed Father &dagger;
              br
              | Unnamed Mother &dagger;
              br
              | Elain (sister)
              br
              | Feyre (sister)
              br
              | Cassian (mate)
              br
              | Aunt Ripleigh (alleged aunt) &dagger;
              br
              | Urstin (cousin, once removed)
              br
              | Rhysand (brother in-law)
              br
              | Nyx (nephew)
              br
          li.list-group-item
            | Romances 
            br
            small
              | Cassian (mate/husband) 
              br
              | Tomas Mandray (ex-fianc&eacute;)
          li.list-group-item
            | Appearances 
            br
            small
              | A Court of Thorns and Roses 
              br
              | A Court of Mist and Fury 
              br
              | A Court of Wings and Ruin 
              br
              | A Court of Frost and Starlight 
              br
              | A Court of Silver Flames 
              br
      // These are the contents
      .contents
        h4 CONTENTS
        ol
          li
            a(href='#biography') Biography
            ol
              li
                a(href='#biography') Early Life
              li
                a(href='#acotar') A Court of Thorns and Roses
              li
                a(href='#acomaf') A Court of Mist and Fury
              li
                a(href='#acowar') A Court of Wings and Ruin
              li
                a(href='#acofas') A Court of Frost and Starlight
              li
                a(href='#acosf') A Court of Silver Flames
          li
            a(href='#physical-appear') Physical Appearance
          li
            a(href='#personality') Personality
      // 
      #biography.biography
        h2 Biography 
        h3#acotar
          a(href='/acotar') A Court of Thorns and Roses
        p
          | Nesta appears briefly at the beginning of ACOTAR. She shows herself be selfish, cold, and distant. She does nothing to help Feyre provide for her family and tries to spend the money they do earn on frivolous items such as a new cloak or pair of shoes. She informs Feyre of her intention to marry Tomas Mandray, to which Feyre advises her against twice, the second time warning her of Tomas Mandray&apos;s father abuse to his wife, and how he does nothing to stop it. When Feyre arrives at her family&apos;s new manor after spending time in Prythian, Nesta reveals to Feyre that Tamlin&apos;s glamour didn&apos;t work on her as it did on Elain and their father, leaving Nesta with full memories of what happened.  Because of this, Nesta had ventured into the village and hired the mercenary Feyre previously engaged with to take her to the Prythian to rescue Feyre. The plan does not work though, because she couldn&apos;t find a hole in the wall. This surprises Feyre because after never having stepped foot in the woods, she trekked two days there and two days back through the winter woods for her sister. Then Feyre asks about Tomas Mandray. Nesta&apos;s answer to her is &quot;I realized he wouldn&apos;t have gone with me to save you from Prythian&quot; which causes her to see her sister in a new light. She realized that after their mother died, &quot;the anger had been a lifeline, the cruelty a release. But she &quot;had cared-beneath it she had cared, and perhaps loved more fiercely than I could comprehend, more deeply and loyally.&quot; (Feyre, Chapter 30 of A Court of Thorns and Roses). Nesta tells Feyre to tell her everything that happened, and after Feyre was done, Nesta asked her to teach her how to paint. She also explains that the reason she spent every copper Feyre got was to see if their father would fight for them. She also explains that she hates him for letting their mother die, and when Feyre objects she says, &quot;You would have gone to the ends of the Earth to save your High Lord&quot; and to that Feyre agrees. Feyre keeps thinking about what Nesta said, and this gives her the courage and perspective to go into Prythian when she realizes what happened to Clare. Nesta helps her get ready to leave and let her know that they don&apos;t need her, and they can take care of themselves. Feyre says &quot;once I might have seen it as an insult but now I understood-understood what a gift she was offering me.&quot; Feyre then lets her know that if things are ever better, she will find her again, but Nesta says don&apos;t bother and that she doesn&apos;t think she would be particularly fond of Faeries. She does ask her to send word if she is safe though, and with that Feyre departs.
        h3#acomaf
          a(href='/acomaf') A Court of Mist and Fury
        p
          | Nesta is not pleased that Feyre has been turned into a Fae and she is not pleased to have Rhys, Cassian, and Azriel in their lives because it puts Elain and her engagement in danger. She comes to be more tolerant towards the members of the Night Court in order to do her part in saving the human realm but remains cold and cruel. Cassian and Nesta bicker incessantly throughout the book. In the ACOMAF Target Edition short story, it is revealed that Nesta wanted to starve to death to try and guilt her father into helping their family. It is also revealed that Thomas Mandray once ripped apart her dress in an attempt to rape her, but Nesta was able to escape. This incident incenses Cassian and causes him to feel inclined to defend her. Nesta teases Cassian and he retaliates, hoping to anger Nesta into opening up. Nesta then pretends that she is going to kiss him, only to kick him square in the nuts and leave him alone in the room to try and sort through his jumbled feelings. Cassian later promises Nesta that he would be willing to die protecting her and Elain in front of Rhys&apos; Inner Circle and two of the mortal queens. It is also noted that Nesta doesn&apos;t flinch from Cassian&apos;s touch. Feyre and Cassian later have a short conversation about Nesta, in which Feyre says that she believes Nesta feels emotions stronger than most people, and as such, walls herself off from the world to try and spare herself the hurt. Feyre also speculates that the only person she thinks Nesta truly loves at that point is Elain, whom she would do anything, give anything, and be anything for.
        p
          | Nesta is kidnapped by Ianthe along with Elain. Once the King of Hybern&apos;s plan to demonstrate the Cauldron&apos;s abilities by turning the sisters into Fae is revealed, he decides to turn Elain, whom he refers to as &quot;the pretty one,&quot; first. Nesta reacts violently, thrashing and screaming, fighting to save her sister against impossible odds. Cassian, despite being critically injured and nearly unconscious, reacts desperately to hearing Nesta&apos;s cries. When Nesta herself is put in, she fights &quot;like a wildcat&quot;, and as she is being submerged, points a finger at the King of Hybern in a &quot;death-promise,&quot; unnerving him. When Nesta emerges from the Cauldron, Feyre immediately notices that &quot;she is different,&quot; implying that she is in some way apart from most High Fae&mdash;if a true High Fae at all&mdash;and has probably acquired some special abilities as a result. She immediately runs to Elain&apos;s side and forcefully shoves Lucien away from her. When Lucien states that Elain is his mate, she responds with anger. Before Elain is given a chance to react, Mor winnows the sisters out of Hybern to somewhere safe and secret within the Night Court.
        h3#acowar
          a(href='/acowar') A Court of Wings and Ruin
        p
          | Nesta is seen in ACOWAR when Feyre visits them after having arrived back at the Night Court. Nesta is described to be &quot;devastatingly&quot; beautiful as a Fae. She is initially very resentful and spiteful towards Feyre and her Inner Circle and seems only to care about Elain. She refuses Cassian&apos;s offer to train her yet agrees to practice her magic with Amren.
          | Nesta and Amren get along well due to the rage and fire they keep hidden. Amren gets along with Nesta due to her braveness and lack of fear when asking her questions and not submit to Amren&apos;s intimidating presence. Amren also sees herself in Nesta, &quot;We are the same, you and I,&quot; Amren said. I wasn&rsquo;t sure I was breathing. Through the bond, I wasn&rsquo;t sure Rhys was, either,&apos;Not in flesh, not in the thing that prowls beneath our skin and bones &mldr;&apos; Amren&rsquo;s remarkable eyes narrowed. &ldquo;But &mldr; I see the kernel, girl.&rdquo; Amren nodded, more to herself than anyone. &apos;You did not fit&mdash;the mold that they shoved you into. The path you were born upon and forced to walk. You tried, and yet you did not, could not, fit. And then the path changed.&apos; A little nod. &apos;I know&mdash;what it is to be that way. I remember it, long ago as it was.&apos;&quot;
          | As time goes on, she bonds with Feyre over their shared concern for Elain. Nesta agrees to go with the Inner Circle to the Court of Nightmares, and after that slowly becomes warmer, though her relationship with Cassian is still shown to be rocky.
          | After the battle in the Summer Court, when Cassian returns a few days later than his friends, Nesta is noticeably concerned and worried for him, and Mor reacts to this possessively. Later in the book, Rhysand offers Nesta the job of being emissary to the human world. Right afterward when Cassian arrives, having not seen him after the battle, Nesta goes up to him and they share a moment holding hands before they are winnowed away to under to the Dawn Court. There, during the two-day conference, she is able to sense that the Cauldron is being used and that the wall had been shattered. During the conference the first day the conference, Nesta defends Cassian against Beron&apos;s harsh words, and as half of the high lords were going to leave enraged, Nesta gave a speech and convinced them to stay. On the second day of the conference, Nesta abruptly stood up in pain, this is where everyone realizes that she is connected to the Cauldron and is able to sense its movements and when it&apos;s being used.
          | This connection comes into handy both when in battle and also when Elain is kidnapped. The Suriel tells Feyre to use Nesta&apos;s connection to the bones to track the cauldron in her mind. Nesta is able to do this with Feyre&apos;s help, Feyre describes her minds as, &ldquo;If Elain&rsquo;s mental gates were those of a sleeping garden, Nesta&rsquo;s &mldr; They belonged to an ancient fortress, sharp and brutal. The sort I imagined they once impaled people upon.&rdquo;
          | When she does so and they are able to rescue Elain the three Archeron sisters lay together embracing each other. At her last battle, Nesta cannot stop crying when she hears mention of her father by Drakon and learns that&mdash;for the first time since their family&apos;s downfall&mdash;he has not let them down, having brought troops and even freed the Queen of the Black Land, the mortal Queen Vassa. She risks her life alongside Cassian by distracting the King of Hybern so that Feyre and Amren are able to nullify the Cauldron.
          | At this moment, she fights the King, both she and Cassian are badly wounded. Right before the King is about to hit them with a fatal blow, they declare their love for each other and wish that they had more time together, and share a kiss. The King of Hybern then attacks them, Cassian tells her to leave but she chooses to embrace a grievously wounded Cassian and face death with him rather than live without him. Suddenly, Elain appears to stab the King in the back, Nesta enraged strikes the killing blow, severing his head from his body, with her hands and face tainted with blood, she watched his head drop.
          | Nesta, though initially unwilling, eventually agrees to attend the meeting that Feyre has called to renegotiate the treaty. Prior to this meeting, she treats the Vassa, the sixth mortal queen, harshly and stiffens upon seeing her with Feyre. When Vassa tells Nesta about how her father loved her and how he was a good man, having treated her better than her own father&mdash;and that she would live her entire life in gratitude to him&mdash;Nesta shows no reaction and instead stares her down coldly.
          | Back at the Night Court, Nesta is seen to be very withdrawn and upset due to the death of her father and the apology he gave prior to his murder at the hands of the King of Hybern. She is so visibly shaken that she does not even visit Cassian on his recovery bed. She retreats her rooms as the rest of the Inner Circle drinks wine and makes merry together.
      #physical-appear.physical-appear
        h2 Physical Appearance
        p
          | Rhysand is described to be heartbreakingly handsome and has short blue-black hair, like a raven&apos;s feathers, and violet eyes with flecks of silver like starlight. He has a tan complexion, however, he was also once pale because he was forced Under the Mountain for so long, and gained back his coloring after spending time in Velaris. He also has tattoos decorating his arms and muscular chest. He has tattoos on both of his knees of mountains with 3 stars on top of the mountains, representing that he will bow for nothing and no one but his crown and Feyre.
          br
          | He has giant, smooth membranous wings that are flecked with a hint of iridescence and are clawed like a bat&apos;s. He wears rich clothing, cloaked in tendrils of night: an ebony tunic brocaded with gold and silver, dark pants, and black boots that reached his knees.
          br
          | His beauty and handsomeness are said to be legendary, greater so far than anyone else&apos;s in Prythian. He radiates sensual grace and ease and keeps his composure most of the time.
      #personality.personality
        h2 Personality
        p
          | He is very arrogant, as he knows exactly how handsome he is, occasionally throwing jokes and comments about his heartbreaking beauty. He is extremely dark in terms of his behavior and has an air of mystery, swagger, and sensuality surrounding him. He handles things with a certain level of casualness, courteousness, and grace that is as savage and dangerous as it is beautiful and remarkable. But most of this is just a mask. Under it, he&apos;s a kind, generous and humble person. He is a &quot;shameless flirt,&quot; and is an expert at manipulation, deception, trickery, and lies. He is also able to hide his emotions flawlessly.
          br
          |     However, even though he acts careless and cruel, he does really care about certain things and will do anything, and sacrifice anything, to keep them safe and unharmed. He loves his wings and flying, he adores the Court of Dreams and above all else, cherishes Feyre. He chose to defend and fight alongside Feyre against Amarantha, even though it would have probably cost him his life, had she not solved the riddle. As Amarantha targeted him to be her whore, he suffered from a lot of emotional trauma that he hides with deadly grace and ease. However, beneath the shadows and coldness he seems to always portray, he loves very fiercely and passionately for the people he really cares about.
